<tmpl_var header_template escape="none">

<br><br>

<form action="<tmpl_var url_cgi escape="none">/openwebmail-cal.pl" method="post" name="editcalendarform">
<input type="hidden" name="action" value="caladdmod">
<input type="hidden" name="eventid" value="<tmpl_var eventid escape="html">">
<input type="hidden" name="cal_caller" value="<tmpl_var cal_caller escape="html">">
<input type="hidden" name="sessionid" value="<tmpl_var sessionid escape="html">">
<input type="hidden" name="folder" value="<tmpl_var folder escape="html">">
<input type="hidden" name="sort" value="<tmpl_var sort escape="html">">
<input type="hidden" name="msgdatetype" value="<tmpl_var msgdatetype escape="html">">
<input type="hidden" name="page" value="<tmpl_var page escape="html">">
<input type="hidden" name="longpage" value="<tmpl_var longpage escape="html">">
<input type="hidden" name="searchtype" value="<tmpl_var searchtype escape="html">">
<input type="hidden" name="keyword" value="<tmpl_var keyword escape="html">">
<input type="hidden" name="message_id" value="<tmpl_var message_id escape="html">">
<table border="0" align="center" width="60%" cellpadding="3" cellspacing="1">
<tr>
  <td nowrap class="titlebar" colspan="2">Edit Calendar Entry</td>
</tr>
<tr>
  <td align="right" class="rowdark">Date:</td>
  <td class="rowdark">
  <select name="month" onchange="valiDate('editcalendarform')">
    <tmpl_loop monthselectloop>
    <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
    </tmpl_loop>
  </select>
  <select name="day" onchange="valiDate('editcalendarform')">
    <tmpl_loop dayselectloop>
    <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
    </tmpl_loop>
  </select>
  <select name="year" onchange="valiDate('editcalendarform')">
    <tmpl_loop yearselectloop>
    <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
    </tmpl_loop>
  </select>
  &nbsp;
  <a href="#" onClick="calPopup(this,'mypopupCal',25,15,'editcalendarform','valiDate');" title="calendar"><img src="<tmpl_var url_html escape="none">/images/iconsets/<tmpl_var iconset escape="html">/cal-popup.gif" border="0" align="absmiddle" alt="calendar"></a>&nbsp;
  </td>
</tr>
<tr>
  <td align="right" class="rowdark">Description:</td>
  <td class="rowdark"><input type="text" name="string" size="32" value="<tmpl_var eventtxt escape="html">"></td>
</tr>
<tr>
  <td align="right" class="rowdark">Start time:</td>
  <td class="rowdark">
  <select name="starthour">
    <tmpl_loop starthourselectloop>
    <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
    </tmpl_loop>
  </select> :
  <select name="startmin">
    <tmpl_loop startminselectloop>
    <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
    </tmpl_loop>
  </select>
  <tmpl_if is_hourformat12>
  <select name="startampm" >
    <option <tmpl_if startam>selected="selected" </tmpl_if>value="am">am</option>
    <option <tmpl_unless startam>selected="selected" </tmpl_unless>value="pm">pm</option>
  </select>
  </tmpl_if>
  </td>
</tr>
<tr>
  <td align="right" class="rowdark">End time:</td>
  <td class="rowdark">
    <select name="endhour">
      <tmpl_loop endhourselectloop>
      <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
      </tmpl_loop>
    </select> :
    <select name="endmin">
      <tmpl_loop endminselectloop>
      <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
      </tmpl_loop>
    </select>
    <tmpl_if is_hourformat12>
    <select name="endampm" >
      <option <tmpl_if endam>selected="selected" </tmpl_if>value="am">am</option>
      <option <tmpl_unless endam>selected="selected" </tmpl_unless>value="pm">pm</option>
    </select>
    </tmpl_if>
  </td>
</tr>
<tr>
  <td align="right" class="rowdark">Recurrence:</td>
  <td class="rowdark">
    <select name="dayfreq">
      <tmpl_loop dayfreqselectloop>
      <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
      </tmpl_loop>
    </select>
  </td>
</tr>
<tr>
  <td align="right" class="rowdark">&nbsp;</td>
  <td class="rowdark">
    <input type="checkbox" name="thisandnextdays" value="1" <tmpl_if thisandnextdays>checked="checked"</tmpl_if>>This day and the next <input type="text" name="nextdays" size="2" value="<tmpl_var nextdays escape="html">"> days
  </td>
</tr>
<tr>
  <td align="right" class="rowdark">&nbsp;</td>
  <td class="rowdark">
    <select name="monthfreq">
      <tmpl_loop monthfreqselectloop>
      <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
      </tmpl_loop>
    </select>
  </td>
</tr>
<tr>
  <td align="right" class="rowdark">&nbsp;</td>
  <td class="rowdark"><input type="checkbox" name="everyyear" value="1" <tmpl_if everyyear>checked="checked"</tmpl_if>>Every year</td>
</tr>
<tr>
  <td align="right" class="rowdark">Event Link:</td>
  <td class="rowdark"><input type="text" name="link" value="<tmpl_var linkstring escape="html">" size="32"></td>
</tr>
<tmpl_if notifyenabled>
<tr>
  <td align="right" class="rowdark">Notify Email:</td>
  <td class="rowdark"><input type="text" name="email" value="<tmpl_var emailstring escape="html">" size="32"></td>
</tr>
<tmpl_else>
<input type="hidden" name="email" value="<tmpl_var emailstring escape="html">">
</tmpl_if>
<tr>
  <td align="right" class="rowdark">Event reminder:</td>
  <td class="rowdark">
    <select name="eventreminder">
      <option <tmpl_if eventreminder>selected="selected"</tmpl_if> value="1">Yes</option>
      <option <tmpl_unless eventreminder>selected="selected"</tmpl_unless> value="0">No</option>
    </select>
  </td>
</tr>
<tr>
  <td align="right" class="rowdark" nowrap>Event Color:</td>
  <td class="rowdark" nowrap>
    <table cellpadding="1" cellspacing="2" border="0">
    <tr>
      <td>
        <select name="eventcolor">
          <tmpl_loop eventcolorselectloop>
          <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if>><tmpl_var label escape="html"></option>
          </tmpl_loop>
        </select>
      <td>
      <tmpl_loop eventcolorselectloop>
      <td nowrap align="center" class="eventcolor<tmpl_var option>"><a href="javascript:void(document.forms['editcalendarform'].elements['eventcolor'].selectedIndex = '<tmpl_var selectedindex>');"><tmpl_var label></a></td>
      </tmpl_loop>
    </tr>
    </table>
  </td>
</tr>
<tr>
  <td colspan="2" align="center" class="menubar">
    <table cellpadding="5" cellspacing="0" border="0" align="center" width="40%">
    <tr>
      <td align="center"><input type="submit" name="Save" value="Save"></td>
</form>

      <td align="center">
        <form action="<tmpl_var url_cgi escape="none">/openwebmail-cal.pl" method="post">
        <input type="hidden" name="action" value="<tmpl_var cal_caller escape="html">">
        <input type="hidden" name="year" value="<tmpl_var year escape="html">">
        <input type="hidden" name="day" value="<tmpl_var day escape="html">">
        <input type="hidden" name="month" value="<tmpl_var month escape="html">">
        <input type="hidden" name="sessionid" value="<tmpl_var sessionid escape="html">">
        <input type="hidden" name="folder" value="<tmpl_var folder escape="html">">
        <input type="hidden" name="sort" value="<tmpl_var sort escape="html">">
        <input type="hidden" name="msgdatetype" value="<tmpl_var msgdatetype escape="html">">
        <input type="hidden" name="page" value="<tmpl_var page escape="html">">
        <input type="hidden" name="longpage" value="<tmpl_var longpage escape="html">">
        <input type="hidden" name="searchtype" value="<tmpl_var searchtype escape="html">">
        <input type="hidden" name="keyword" value="<tmpl_var keyword escape="html">">
        <input type="hidden" name="message_id" value="<tmpl_var message_id escape="html">">
        <input type="submit" name="Cancel" value="Cancel">
        </form>
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>

<div id="mypopupCal"></div>

<script src="<tmpl_var url_html escape="none">/javascript/popup.js" type="text/javascript"></script>
<script src="<tmpl_var url_html escape="none">/javascript/calpopup.js" type="text/javascript"></script>
<script src="<tmpl_var url_html escape="none">/javascript/validate.js" type="text/javascript"></script>

<script type="text/javascript">
<!--
// calpopup.js tmpl vars
var wStart = <tmpl_var weekstart>;
var min_year = <tmpl_var min_year>;

// calpopup.js language and preferences
var wDay = new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
var wDayAbbrev = new Array('S','M','T','W','T','F','S');
var wMonth = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
var wOrder = new Array('1st','2nd','3rd','4th','last');

// validate.js language and preferences
var thisdayonlytxt = "This day's date only";
var everyoddmonththisyeartxt = "Every odd month this year";
var everyevenmonththisyeartxt = "Every even month this year";

function thewdayofthismonthtxt(wOrdn,wDayn) {
   return "The "+wOrder[(wOrdn-1)]+" "+wDay[(wDayn)]+" of the month";
}

function everywdaythismonthtxt(wDayn) {
   return "Every "+wDay[(wDayn)]+" this month";
}

function alerttxt(selectedmonth,daysinmonth,formYear,daysinmonth) {
   return "Sorry, "+selectedmonth+" only has "+daysinmonth+" days in "+formYear+".\n"+"Changing the day to "+daysinmonth+".";
}

function submit_changed_dateselform() {
   document.dateselform.submit();
}
// -->
</script>

<tmpl_var footer_template escape="none">
