<HTML dir="rtl" lang="ur">
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=@@@CHARSET@@@">
<TITLE>@@@USERINFO@@@ @@@NAME@@@</TITLE>
<LINK rel="shortcut icon" href="@@@ICO_LINK@@@">
</HEAD><BODY ONHELP="window.open('@@@HELP_LINK@@@', '_help'); return false;" BACKGROUND="@@@BG_URL@@@" BGCOLOR=@@@BACKGROUND@@@>
<style type="text/css">
@@@CSS@@@
</style>
<FONT FACE=@@@FONTFACE@@@>
