<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

ﻋﺰﻳﺰ @@@USEREMAIL@@@,<br><br>
ﺁﭖ ﻛﺎﻓﻰ ﻭﻗﺖ ﺳﮯ ﺍﻭﭘﻦ ﻭﻳﺐ ﻣﻴﻞ ﺍﺳﺘﻌﻤﺎﻝ ﻧﻬﻴﮟ ﻛﺮﺭﻫﮯ，
 ﺍﮔﺮ ﺁﭖ ﺍﮔﻠﮯ 60 ﺳﻴﻛﻨﮉ ﻣﻴﮟ ﺍﺳﺘﻌﻤﺎﻝ ﻧﻬﻴﮟ ﻛﺮﻳﮟ ﮔﮯ ﺗﻮ ﺑﮯ ﺩﺧﻞ ﻫﻮ ﺟﺎﺋﻴﮟ ﮔﮯ.

</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value=" ok " onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>
