<tmpl_var header_template escape="none">

<table cellspacing="0" cellpadding="0" border="0" align="center" width="95%">
<tr>
  <td class="warning">Dear <tmpl_var useremail escape="html">>,<br><br>You have been idle for a long time. If no more action is taken, this session will be ended within 60 seconds.</td>
</tr>
<tr>
  <td align="center"><form><br><input type="button" NAME="OK" value=" ok " onclick="window.close();"></form><br></td>
</tr>
</table>

<script type="text/javascript">
<!--
   setTimeout("close()", 60*1000);
//-->
</script>

</body>
</html>
