<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

Шановний @@@USEREMAIL@@@,<br><br>
Вас не було занадто довго.
Якщо ви н╕чого не робитимете,
то ця сес╕я завершиться через 60 секунд.

</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value=" ok " onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>
