<BR><BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="40%" cellpadding="1" cellspacing="1">
<tr><td bgcolor=@@@TITLEBAR@@@>
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>패스워드가 변경되었습니다.</B></font>
</td></tr><tr><td align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<BR>패스워드가 성공적으로 변경되었습니다.<BR>
@@@CONTINUEBUTTON@@@
</td></tr></table>
