/*
font-size is inherited from the body tag in header.tmpl, which is
set by the user - please do not set the body font-size here
*/
body { background-color: #ffffff; color: #000000; font-family: Arial, Helvetica, sans-serif; }
td { font-family: Arial, Helvetica, sans-serif; }
.login_titlebar { color: #ffffff; background-color: #3161bd; font-size: 125%; font-weight: bold; }
.login_border { background-color: #3161bd; }
.login_small { font-size: 75%; }
.background { background-color: #ffffff; }
.titlebar { background-color: #000000; color: #e2e2e2; font-size: 112%; font-weight: bold; }
.menubar { background-color: #c8c5c2; }
.windowdark { background-color: #c8c5c2; }
.windowdarkbold { background-color: #c8c5c2; font-weight: bold; }
.windowlight { background-color: #e2e2e2; }
.columnheader { background-color: #c8c5c2; font-weight: bold; }
.columnheadercolor { background-color: #c8c5c2; }
.warning { color: #dd0000; font-weight: bold; }
.attachmentdark { background-color: #c8c5c2; }
.attachmentlight { background-color: #e2d1d0; }
.spellcheck { border: 2px solid #000000; background-color: #ffffff; padding: 6px 6px 20px 6px; }
.alreadychecked { color: #0000ff; font-weight: bold; }
img.attachment { border: 2px solid #c8c5c2; }
img.iconset_button { border: 0; vertical-align: middle; margin-bottom: .25em; }
img.iconset_small { border: 0; vertical-align: middle; margin-bottom: .25em; }
form { margin: 0; }
textarea { overflow: auto; }
input.mono { font-family: monospace; font-size: 80%; }
input.misspelled { background-color: #ffffcc; border: 1px solid #ff9999; }
select.mono { font-family: monospace; font-size: 80%; offset: 0px; padding: 0px; margin: 0px; }
select.misspelled { background-color: #ffffcc; border: 1px solid #999999; }
iframe.map { border: 1px solid black; margin: 5px 0 0 0; }
pre { white-space: pre-wrap; }
h1 { font-family: Arial, Helvetica, sans-serif; font-size: 140%; font-weight: bold; }
a:link { text-decoration: none; color: #0000ff; }
a:visited { text-decoration: none; color: #0000ff; }
a:hover { color: #ff0000; }
a.columnheader:link { text-decoration: none; color: #000000; }
a.columnheader:visited { text-decoration: none; color: #000000; }
a.columnheader:hover { color: #ff0000; }
a.icon:link { font-weight: bold; }
a.loading:link { text-decoration: none; color: #333333; }
a.loading:visited { color: #333333; }
a.loading:hover { color: #333333; }
a.copyright:link { text-decoration: none; color: #cccccc; }
a.copyright:visited { color: #cccccc; }
a.copyright:hover { color: #333333; }
a.messagebody:link { text-decoration: none; color: #0000ff; }
a.messagebody:visited { color: #0000ff; }
a.messagebody:hover { color: #ff0000; }
.rowdark { background-color: #c8c5c2; }
.rowlight { background-color: #e2e2e2; }
.rowhilite { background-color: #ffcccc; }
.medtext { font-size: 85%; }
.smalltext { font-size: 80%; }
.smalllighttext { font-size: 80%; color: #aaaaaa; }
.smallblacktext { font-size: 80%; color: #000000; }
.smallcolortext { font-size: 80%; color: #c00000; }
.lighttext { color: #aaaaaa; }
.hilitetext { font-style: normal; font-weight: bold; background-color: #c8c5c2; }
.quotedtext { color: #009900; }
.colortext { color: #c00000; }
.monospacetext { font-family: "Courier 10 Pitch", "Courier New", "Courier", "Lucida Console", monospace; }
.messageheaderproperty { font-weight: bold; }
.eventcolor0  { background-color: #c8c5c2; border: solid 1px #666666; }
.eventcolor1a { background-color: #b0b0e0; border: solid 1px #7b7bc2; }
.eventcolor1b { background-color: #b0e0b0; border: solid 1px #7bc27b; }
.eventcolor1c { background-color: #b0e0e0; border: solid 1px #7bc2c2; }
.eventcolor1d { background-color: #e0b0b0; border: solid 1px #c27b7b; }
.eventcolor1e { background-color: #e0b0e0; border: solid 1px #c27bc2; }
.eventcolor1f { background-color: #e0e0b0; border: solid 1px #c2c27b; }
.eventcolor2a { background-color: #9090f8; border: solid 1px #5d5dda; }
.eventcolor2b { background-color: #90f890; border: solid 1px #5dda5d; }
.eventcolor2c { background-color: #90f8f8; border: solid 1px #5ddada; }
.eventcolor2d { background-color: #f89090; border: solid 1px #da5d5d; }
.eventcolor2e { background-color: #f890f8; border: solid 1px #da5dda; }
.eventcolor2f { background-color: #f8f890; border: solid 1px #dada5d; }

/* popup calendar styles */
#popup_calendar { position: absolute; visibility: hidden; }
.stylecal { font-size: 90%; color: #000000; }
td.todayhilite { background-color: #f89090; font-weight: bold; border: solid 1px #da5d5d; }
a.notmonth:link { font-size: 90%; color: #cccccc; }
a.notmonth:visited { font-size: 90%; color: #cccccc; }
a.notmonth:hover { font-size: 90%; color: #ff0000; }
a.stylecal:link { font-size: 90%; color: #000000; }
a.stylecal:visited { font-size: 90%; color: #000000; }
a.stylecal:hover { font-size: 90%; color: #ff0000; }

/* popup note styles */
#popup_note { position: absolute; visibility: hidden; }

/* popup contact styles */
#popup_contact { position: absolute; visibility: hidden; }
iframe.contact { border: 1px solid black; }

/* popup autosuggest styles */
#popup_autosuggest { position: absolute; visibility: hidden; }
.suggest { background-color: #c8c5c2; padding: 0 2px 0 2px; }
.suggesthilite { background-color: #ffcccc; padding: 0 2px 0 2px; }
