<tmpl_var header_template escape="none">

<form method="post" action="<tmpl_var url_cgi escape="none">/openwebmail-advsearch.pl" name="advsearchform">
<input type="hidden" name="action" value="advsearch">
<input type="hidden" name="sessionid" value="<tmpl_var sessionid escape="html">">

<table cellpadding="1" cellspacing="0" border="0" width="95%" align="center">
<tr>
  <td nowrap class="titlebar">Advanced Search</td>
</tr>
<tr>
  <td class="menubar">
    <a href="<tmpl_var url_cgi escape="none">/openwebmail-main.pl?action=listmessages&amp;sessionid=<tmpl_var sessionid escape="url">&amp;folder=<tmpl_var folder escape="url">&amp;sort=<tmpl_var sort escape="url">&amp;page=<tmpl_var page escape="url">&amp;longpage=<tmpl_var longpage escape="url">" accesskey="B" class="icon"><tmpl_if use_texticon>back to <tmpl_var folderstr escape="html"><tmpl_else><img src="<tmpl_var url_html escape="none">/images/iconsets/<tmpl_var iconset escape="html">/backtofolder.gif" title="back to <tmpl_var folderstr escape="html">" alt="back to <tmpl_var folderstr escape="html">" border="0" align="absmiddle"></tmpl_if></a>
</td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td class="columnheader">Select Folder&nbsp;<input name="allbox" type="checkbox" value="1" <tmpl_if allbox>checked</tmpl_if> onClick="CheckAll();"></td>
    </tr>
    <tr>
      <td class="windowlight">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
          <tmpl_loop foldersloop>
            <td>
              <input type="checkbox" name="folders" value="<tmpl_var currfolder escape="html">" id="<tmpl_var currfolder escape="html">" <tmpl_if checked>checked</tmpl_if> />
              <label for="<tmpl_var currfolder escape="html">"><tmpl_var currfolderstr escape="html"></label>
            </td>
            <tmpl_if tr></tr><tr></tmpl_if>
          </tmpl_loop>
          </tr>
        </table>
      </td>
    </tr>
    </table>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td class="columnheader" colspan=2>Date Range</td>
    </tr>
    <tr>
      <td class="windowlight">Presets
        <select name="daterange" onchange="setdaterange(this.value)">
        <tmpl_loop daterange>
          <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if> >
          <tmpl_if all>All</tmpl_if>
          <tmpl_if today>Today</tmpl_if>
          <tmpl_if oneweek>One week</tmpl_if>
          <tmpl_if twoweeks>Two weeks</tmpl_if>
          <tmpl_if onemonth>One month</tmpl_if>
          <tmpl_if threemonths>Three months</tmpl_if>
          <tmpl_if sixmonths>Six months</tmpl_if>
          <tmpl_if oneyear>One year</tmpl_if>
          </option>
        </tmpl_loop>
        </select>
      </td>

      <td class="windowlight">Start
        <tmpl_loop dateselloop>
        <select name="<tmpl_var dateselname escape="html">">
        <tmpl_loop selloop>
          <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if> ><tmpl_var option escape="html"></option>
        </tmpl_loop>
        </select>
        <tmpl_if datesep><tmpl_var datesep escape="html"></tmpl_if>
        <tmpl_unless datesep><tmpl_if firstdatesel>&nbsp;&nbsp;&nbsp;End</tmpl_if></tmpl_unless>
        </tmpl_loop>
      </td>
    </tr>
    </table>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td class="columnheader">Where</td>
      <td class="columnheader">Type of search</td>
      <td class="columnheader">Text to search</td>
      <td class="columnheader" align="center">Line Results</td>
    </tr>
    <tmpl_loop filtersloop>
    <tr>
      <td class="windowlight">
        <select name="where<tmpl_var n>">
        <tmpl_loop where>
          <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if> >
          <tmpl_if from>From</tmpl_if>
          <tmpl_if to>To</tmpl_if>
          <tmpl_if subject>Subject</tmpl_if>
          <tmpl_if Date>Date</tmpl_if>
          <tmpl_if attfilename>AttFilename</tmpl_if>
          <tmpl_if header>Header</tmpl_if>
          <tmpl_if textcontent>TextContent</tmpl_if>
          <tmpl_if all>All</tmpl_if>
          </option>
        </tmpl_loop>
        </select>
      </td>
      <td class="windowlight">
        <select name="type<tmpl_var n>">
        <tmpl_loop type>
          <option value="<tmpl_var option escape="html">" <tmpl_if selected>selected</tmpl_if> >
          <tmpl_if contains>contains</tmpl_if>
          <tmpl_if notcontains>does not contain</tmpl_if>
          <tmpl_if is>is</tmpl_if>
          <tmpl_if isnot>is not</tmpl_if>
          <tmpl_if startswith>starts with</tmpl_if>
          <tmpl_if endswith>ends with</tmpl_if>
          <tmpl_if regexp>matches regexp</tmpl_if>
          </option>
        </tmpl_loop>
        </select>
      </td>
      <td class="windowlight">
        <input type="text" name="searchtext<tmpl_var n>"  size="40" accesskey="<tmpl_var n escape="html">" value="<tmpl_var text escape="html">">
        <tmpl_unless lastfiltersloop>&nbsp;and</tmpl_unless>
      </td>
      <td class="windowlight" align="center">
        <tmpl_if firstfiltersloop>
          <input type="text" name="resline" value="<tmpl_var resline escape="html">" size="5" accesskey="L" />
        <tmpl_else>
          <tmpl_if lastfiltersloop>
            <input type="submit" name="Search" value="Search" accesskey="S" class="medtext" />
          <tmpl_else>
            &nbsp;
          </tmpl_if>
        </tmpl_if>
      </td>
    </tr>
    </tmpl_loop>
    </table>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
 <tr>
  <td>
    <table cellpadding="1" cellspacing="1" border="0" width="100%">
    <tr>
      <td colspan="6" class="menubar">Results:
      <tmpl_if selectedfolders>
         <tmpl_var totalfound escape="html">
         <tmpl_if totalsizestr> ( <tmpl_var totalsizestr> ) </tmpl_if>
         <tmpl_if showallloop>
            &nbsp;
            <a href="<tmpl_var url_cgi escape="none">/openwebmail-advsearch.pl?sessionid=<tmpl_var sessionid escape="url">&amp;action=advsearch<tmpl_loop showallloop>&amp;<tmpl_var name escape="url">=<tmpl_var value escape="url"></tmpl_loop>">[Show All]</a>
         </tmpl_if>
      <tmpl_else>
         No Folder selected
      </tmpl_if>
      </td>
    </tr>
    <tr>
      <td width="10%" class="columnheader">Folder</td>
      <td class="columnheader">Date</td>
      <td class="columnheader">Sender</td>
      <td class="columnheader">Recipient</td>
      <td class="columnheader">Subject</td>
      <td class="columnheader">Size</td>
    </tr>
    <tmpl_loop resultsloop>
    <tr>
    <td nowrap class="<tmpl_if odd>rowlight<tmpl_else>rowdark</tmpl_if>">
      <tmpl_var folderstr>
    </td>
    <td nowrap class="<tmpl_if odd>rowlight<tmpl_else>rowdark</tmpl_if>">
      <tmpl_var datestr>
    </td>
    <td nowrap class="<tmpl_if odd>rowlight<tmpl_else>rowdark</tmpl_if>">
      <tmpl_if contactinaddressbook><a href="<tmpl_var url_cgi escape="none">/openwebmail-abook.pl?action=addrlistview&amp;abookkeyword=<tmpl_var from_address escape="url">&amp;abooksearchtype=email&amp;abookfolder=ALL&amp;sessionid=<tmpl_var sessionid escape="url">" class="icon"><tmpl_if use_texticon>addressbook search<tmpl_else><img src="<tmpl_var url_html escape="none">/images/iconsets/<tmpl_var iconset escape="html">/friend.gif" title="search addressbook for <tmpl_var from_address escape="html">" alt="search addressbook" border="0" align="absmiddle"></tmpl_if></a>&nbsp;</tmpl_if>
      <a href="<tmpl_var url_cgi escape="none">/openwebmail-send.pl?action=compose&amp;sessionid=<tmpl_var sessionid escape="url">&amp;composetype=sendto&amp;to=<tmpl_var from escape="url">" title="<tmpl_var from_address escape="html">"><tmpl_var from_name></a>
    </td>
    <td nowrap class="<tmpl_if odd>rowlight<tmpl_else>rowdark</tmpl_if>">
      <a href="<tmpl_var url_cgi escape="none">/openwebmail-send.pl?action=compose&amp;sessionid=<tmpl_var sessionid escape="url">&amp;composetype=sendto&amp;to=<tmpl_var to escape="url">" title="<tmpl_var to_address escape="html">"><tmpl_var to_name></a>
    </td>
    <td nowrap class="<tmpl_if odd>rowlight<tmpl_else>rowdark</tmpl_if>">
      <a href="<tmpl_var url_cgi escape="none">/openwebmail-read.pl?action=readmessage&amp;sessionid=<tmpl_var sessionid escape="url">&amp;folder=<tmpl_var folder escape="url">&amp;headers=<tmpl_var headers escape="url">&amp;message_id=<tmpl_var message_id escape="url">" title="Charset: <tmpl_var msgcharset escape="html">"><tmpl_if subject><tmpl_var subject escape="html"><tmpl_else>N/A</tmpl_if></a>
    </td>
    <td nowrap class="<tmpl_if odd>rowlight<tmpl_else>rowdark</tmpl_if>">
      <tmpl_var sizestr>
    </td>
    </tr>
    </tmpl_loop>
    </table>
  </td>
</tr>
</table>

</form>

<script type="text/javascript">
<!--
   function CheckAll() {
      for (var i = 0; i < document.advsearchform.folders.length; i++) {
         var e = document.advsearchform.folders[i];
         if (e.type == 'checkbox' && e.name != 'allbox') {
            e.checked = document.advsearchform.allbox.checked;
         }
      }
   }

   function setdaterange(range) {
      var todaydate  = new Date();
      var todayyear  = todaydate.getYear() + 1900;
      var todaymonth = todaydate.getMonth() + 1;
      var todayday   = todaydate.getDate();

      var daysInMonth = new Array(0, 31,28,31,30,31,30,31,31,30,31,30,31);
      if ((todayyear % 4 == 0 && todayyear % 100 != 0) || todayyear % 400 == 0) {
         daysInMonth[1] = 29;
      }

      var startyear  = todayyear;
      var startmonth = todaymonth;
      var startday   = todayday;

      if (range == 'today') {
         // do nothing
      } else if (range == 'oneweek') {
         startday -= 6;
      } else if (range == 'twoweeks') {
         startday -= 13;
      } else if (range == 'onemonth') {
         startmonth--;
      } else if (range == 'threemonths') {
         startmonth -= 3;
      } else if (range == 'sixmonths') {
         startmonth -= 6;
      } else if (range == 'oneyear') {
         startyear--;
      } else {	// 'all' or unknown range
         startyear  = 1990;
         startmonth = 1;
         startday   = 1;
      }

      if (startday < 1) {
         startmonth--;
         if (startmonth < 1) {
            startday += daysInMonth[startmont+12];
         } else {
            startday += daysInMonth[startmonth];
         }
      }

      if (startmonth < 0) {
         startyear--;
         startmonth += 12;
      }

      if (startday > daysInMonth[startmonth]) {
         startday = daysInMonth[startmonth];
      }

      selectoption(document.advsearchform.year1, startyear);
      selectoption(document.advsearchform.month1, startmonth);
      selectoption(document.advsearchform.day1, startday);
      selectoption(document.advsearchform.year2, todayyear);
      selectoption(document.advsearchform.month2, todaymonth);
      selectoption(document.advsearchform.day2, todayday);

      return;
   }

   function selectoption(menu, value) {
      var i_default = 0;

      for (var i = 0; i < menu.length; i++) {
         if (menu.options[i].value == value) {
            menu.options[i].selected = true;
            return i;
         }

         if (menu.options[i].defaultSelected) {
            i_default = i;
         }
      }

      menu.options[i_default].selected = true;
      return i_default;
   }
//-->
</script>

<tmpl_var footer_template escape="none">
