<tmpl_var header_template escape="none">

<br><br><br><br><br><br><br>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="25%">
<tr>
  <td class="titlebar">Invalid Login</td>
</tr>
<tr>
  <td align="center" class="rowlight"><br>Login failed. <tmpl_if message><tmpl_var message escape="html">.</tmpl_if><br> Please go back and <a href="<tmpl_var url_start escape="none">">try again</a>.<br><br></td>
</tr>
</table>

<tmpl_var footer_template escape="none">
