<html>

<head>
  <title>OpenWebMail Mailing List Index</title>
  <link rel="stylesheet" type="text/css" href="/archive/css/owm.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
<center>
<a href="http://openwebmail.acatysmoof.com"><img src="/images/openwebmail.gif" border="0" title="Go to the OpenWebMail Project Homepage"></a>
<h3>OpenWebMail Mailing Lists Site<br />Archive Index</h3>
<form method="get" action="/archive/search/index.pl">
<nobr>
<input type="text" name="query" size="20">
<input type="submit" name="submit" value="Search">
<small>&nbsp;[<a href="/archive/search/index.pl"><font color="#000000">Advanced</font></a>]</small>
</nobr>
</form>
<br>
[<a href="http://openwebmail.acatysmoof.com/archive/mj_wwwusr.pl?func=lists-long" class="arcLinks">Subscribe to a mailing list</a>]&nbsp;
[<a href="/archive/html/index.htm" class="arcLinks">All&nbsp;Lists&nbsp;Index</a>]
<br><br>
</center>

<table cellpadding="0" cellspacing="0" border="0" align="center">
<TMPL_LOOP LISTS>
<tr>
  <td class="arcBox">
    <table cellpadding="0" cellspacing="1" border="0" width="100%">
    <tr>
      <td colspan="13" class="arcTitleBox">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td class="arcTitle"><TMPL_VAR LISTNAME></td>
        </tr>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td align="left" class="arcDesc"><TMPL_VAR LISTDESC></td>
              <td align="right" class="arcDesc">[<a class="arcJoinLink" href="http://openwebmail.acatysmoof.com/archive/mj_wwwusr.pl?func=lists-long-full&extra=<TMPL_VAR LISTNAME>">Join this mailing list</a>]</td>
            </tr>
            </table>
          </td>
        </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td class="arcMonthInFuture">&nbsp;</td>
      <td class="arcYear">Jan</td>
      <td class="arcYear">Feb</td>
      <td class="arcYear">Mar</td>
      <td class="arcYear">Apr</td>
      <td class="arcYear">May</td>
      <td class="arcYear">Jun</td>
      <td class="arcYear">Jul</td>
      <td class="arcYear">Aug</td>
      <td class="arcYear">Sep</td>
      <td class="arcYear">Oct</td>
      <td class="arcYear">Nov</td>
      <td class="arcYear">Dec</td>
    </tr>

    <TMPL_LOOP YEARS>
    <tr>
      <td class="arcYear"><TMPL_VAR YEAR></td>
      <TMPL_LOOP MONTHS>
      <TMPL_IF MONTH>
      <TMPL_IF POSTS>
      <td class="arcMonthPosts" align="right"><a href="<TMPL_VAR DIR>"><TMPL_VAR POSTS></a></td>
      <TMPL_ELSE>
      <td class="arcMonthNoPosts" align="right">-</td>
      </TMPL_IF>
      <TMPL_ELSE>
      <td class="arcMonthInFuture">&nbsp;</td>
      </TMPL_IF>
      </TMPL_LOOP>
    </tr>
    </TMPL_LOOP>
    </table>
  </td>
</tr>
<tr>
  <td class="arcSpacer">&nbsp;</td>
</tr>
</TMPL_LOOP>
</table>
<br><br>

</body>
</html>

