<br><br><br><br><br><br><br>
<table border="0" align="center" width="40%" cellpadding="1" cellspacing="1">
<tr>
  <td bgcolor=@@@TITLEBAR@@@><font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3"><b>Password Change Failed</b></font></td>
</tr>
<tr>
  <td align="center" bgcolor=@@@WINDOW_LIGHT@@@><br>@@@ERRORMSG@@@, no change is made.<br>@@@CONTINUEBUTTON@@@</td>
</tr>
</table>
