<br><br><br><br><br><br><br>
<table border="0" align="center" width="40%" cellpadding="1" cellspacing="1">
@@@STARTSAVEDFORM@@@
<tr>
  <td bgcolor=@@@TITLEBAR@@@><font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3"><b>Preference Saved</b></font></td>
</tr>
<tr>
  <td align="center" bgcolor=@@@WINDOW_LIGHT@@@><br>Preferences successfully saved.<br>&nbsp;<br>@@@CONTINUEBUTTON@@@<br>&nbsp;</td>
</tr>
@@@ENDFORM@@@
</table>
