@@@STARTPREFSFORM@@@
<table border="0" align="center" width="90%" cellpadding="1" cellspacing="0" bgcolor=@@@BACKGROUND@@@>
<tr>
<td nowrap bgcolor=@@@TITLEBAR@@@ width="30%">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>ÊבײךהַÊ ַהו׃Ê־ֿו</B></font>
<td nowrap bgcolor=@@@TITLEBAR@@@ align="center">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>@@@QUOTAUSAGE@@@</B></font>
<td nowrap bgcolor=@@@TITLEBAR@@@ align="left" width="30%">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>@@@REALNAME@@@&nbsp;</B></font>
</tr>
<tr><td colspan="3" bgcolor=@@@MENUBAR@@@>
@@@MENUBARLINKS@@@
</td></tr>
</table>
&nbsp;
<table border="0" align="center" width="90%" cellpadding="1" cellspacing="1" bgcolor=@@@BACKGROUND@@@>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ַהוÙהטוַÊ ַהװ־ױךֹ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@ @@@DESCWIDTH@@@>
<B>ַההÚֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@LANGUAGEMENU@@@&nbsp;ַהÊׁוךׂ @@@CHARSETMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהוז׳גֹ ַהׂוזךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@TIMEOFFSETMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊטגךÊ ַהױךבך:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DAYLIGHTSAVINGMENU@@@
</td></tr>
@@@WEBMAILSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וז:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FROMEMAILMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהֿׁ ֵהי:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPLYTOFIELD@@@
</td></tr>
@@@FORWARDSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וׁׁ ַהָׁךֿ ֵהי:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FORWARDADDRESS@@@
&nbsp;
@@@KEEPLOCALCOPY@@@
ֵֽÊב״ ָז׃־ֹ וֽהךֹ
</td></tr>
@@@FORWARDEND@@@
@@@AUTOREPLYSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵַָֹּ Êהגֶַךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@AUTOREPLYCHECKBOX@@@
&nbsp;
ַהוטײטÙ:
@@@AUTOREPLYSUBJECT@@@
</td></tr>
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@ class=msgbody>
<B>זױ ַהַַָֹּ ַהÊהגֶַךֹ (500 ֽׁב ֳט ֳגה)</B><BR>
@@@AUTOREPLYTEXT@@@
</td></tr>
@@@AUTOREPLYEND@@@
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@ class=msgbody>
<B>ַהÊטגךÙ (500 ֽׁב ֳט ֳגה)</B><BR>
@@@SIGAREA@@@
<br>&nbsp;
</td></tr>
@@@WEBMAILEND@@@

@@@FULLPREFSSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ÊבײךהַÊ ַהÙׁײ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהַ׃הטָ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@STYLEMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וּוטÙֹ ַהֳךגטזַÊ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ICONSETMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ױטֹׁ ַה־הבךסֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
<table border="0" width="100%"><tr>
<td width="10%">@@@BACKGROUNDMENU@@@</td>
<td><div id="urldiv" style="position:relative; visibility:visible;" width="100%" height="100%">
<font size=-2>URL </font>@@@BGURLFIELD@@@</div></td>
</tr></table>
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ױטֹׁ ַה־הבךסֹ ודֹׁׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BGREPEATCHECKBOX@@@<br>
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וגַ׃ ַה־׳ס:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FONTSIZEMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>װדה ַהÊסַׁך־:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DATEFORMATMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>װדה ַה׃ַÙֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HOURFORMATMENU@@@ ׃ַÙֹ
</td></tr>

@@@WEBMAILSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>גֶַוֹ ַהׁ׃ֶַה</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וטגÙ װׁך׳ ַהÊֽדו בך גֶַוֹ ַהׁ׃ֶַה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CTRLPOSITIONFOLDERVIEWMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùֿֿ ַהÙזַױׁ הדהס ױבֹֽ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HEADERSPERPAGE@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ÊׁÊךָ ַהֽגטה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FIELDORDERMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊׁÊךָ ַהַבÊַׁײך:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SORTMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵÙׁײ ֳךגטזֹ ָֻֽ וױÚֹׁ@@@MINISEARCHICON@@@:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USEMINISEARCHICONCHECKBOX@@@<br>
</td></tr>

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ַהÙוהךַÊ Ùהי ַהׁ׃ֶַה</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊֳדךֿ גָה זגה/ז׃־ ַהׁ׃ֶַה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMMSGMOVECOPY@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהטּחֹ ַהַבÊַׁײךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DEFAULTDESTINATIONMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהטּחֹ ַה׀סדךסֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SMARTDESTINATION@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùׁײ ַהׁ׃ַהֹ ַהÊַהךֹ ָÙֿ ַהזגה/ַהז׃־:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIEWNEXTAFTERMSGMOVECOPY@@@
</td></tr>
@@@AUTOPOP3START@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַ׃Êהַו Êהגֶַך הָׁךֿ POP3 Ùזֿ Ê׃ּךה ַהֿ־טה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@AUTOPOP3CHECKBOX@@@ (ַזÊײׁ @@@AUTOPOP3WAITMENU@@@ ַֻזךֹ/ֻטַזך)
</td></tr>
@@@AUTOPOP3END@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>טײÙ בהÊׁ ַהָׁךֿ בך ַה־הבךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BGFILTERTHRESHOLDMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>טגÊ ֵזÊ״ַׁ בהÊׁ ַהָׁךֿ בך ַה־הבךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BGFILTERWAITMENU@@@ ַֻזךֹ/ֻטַזך
</td></tr>
@@@MOVEOLDSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>זגה ַהׁ׃ֶַה ַהגֿךוֹ ַהי ַהוֽבט״ַÊ Ùזֿ Ê׃ּךה ַה־ׁטּ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MOVEOLDMSGFROMINBOX@@@
</td></tr>
@@@MOVEOLDEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>־ךַַׁÊ גֱַֹׁ ַהׁס׃ֶַה</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וטגÙ װׁך׳ ַהÊֽדו Ùזֿ גֱַֹׁ ַהׁ׃ַהֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CTRLPOSITIONMSGREADMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ִׁט׃ ַהׁ׃ֶַה ַהַבÊַׁײךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HEADERSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Read with message charset:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@READWITHMSGCHARSET@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵ׃Ê־ַֿו ־׳ וÊ׃ַטך ַהÙׁײ Ùזֿ גֱַֹׁ ַהׁ׃ֶַה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USEFIXEDFONT@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùׁײ ַהׁוטׂ (ַהׁ׃טוַÊ) Ùזֿ Ùׁײ ַהׁ׃ֶַה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USESMILEICON@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùׁײ ׁ׃ֶַה  HTML דזױטױ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWHTMLASTEXT@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùׁײ ַהױטׁ ַהוהֽגֹ דַׁÊַָ׳:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWIMGASLINK@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ÊÙ׳ךה JavaScript ַֿ־ה ַהׁ׃ֶַה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DISABLEJS@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ÊÙ׳ךה embed/object/applet tag ַֿ־ה ַהׁ׃ֶַה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DISABLEEMBCODE@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ÊÙ׳ךה embedded links ַֿ־ה ַהׁ׃ֶַה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DISABLEEMBLINKMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵׁ׃ַה ַךױַה 'Êֳדךֿ ַהגֱַֹׁ':</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDRECEIPTMENU@@@
</td></tr>

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>־ךַַׁÊ ַהֵַָֹּ Ùהי ַהׁ׃ֶַה</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Êז׃ךג ַהׁ׃ַהֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MSGFORMATMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ו׃ַֹֽ וז׳גֹ Êֽׁךׁ ַהָׁךֿ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
ַהÙׁײ @@@EDITCOLUMNSMENU@@@ ַהַׁÊבַÙ @@@EDITROWSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וטגÙ ׁׂ ַהַׁ׃ַה:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDBUTTONPOSITIONMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵÙַֹֿ Êז׃ךג ַהׁ׃ַהֹ גָה ַהֵַָֹּ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPARAGRAPHORIGMSG@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהֵַָֹּ וÙ ַהׁ׃ַהֹ ַהַױהךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPLYWITHORIGMSGMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Automatic CC:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@AUTOCCFIELD@@@
</td></tr>
@@@BACKUPSENTSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵֽב״ ז׃־ֹ וז ַהׁ׃ֶַה ַהױַֹֿׁ בך וּהֿ ַהָׁךֿ ַהױַֿׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BACKUPSENTMSG@@@
</td></tr>
@@@BACKUPSENTEND@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Êׁוךׂ ַהׁ׃ֶַה ַהױַֹֿׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDCHARSETMENU@@@
</td></tr>

@@@VIRUSCHECKSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>בֽױ ַהבךׁט׃</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהׁ׃ֶַה ַהÊך Êבֽױ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIRUSCHECKSOURCEMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהֽֿ ַהֳÙהי הּֽו ַהׁ׃ֶַה ַהÊך Êבֽױ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIRUSCHECKMAXSIZEMENU@@@ דךהט ַָךÊ
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהֽֿ ַהֳֿזי הּֽו ּ׃ו ַהׁ׃ֶַה ַהÊך Êבֽױ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIRUSCHECKMINBODYSIZEMENU@@@ דךהט ַָךÊ
</td></tr>
@@@VIRUSCHECKEND@@@

@@@SPAMCHECKSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Spam Check</B> &nbsp; @@@SAPREFSLINK@@@</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Messages to be checked:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SPAMCHECKSOURCEMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Maximum size of the checked messages:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SPAMCHECKMAXSIZEMENU@@@ KB
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Threshold to determine Spam:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SPAMCHECKTHRESHOLDMENU@@@
</td></tr>
@@@SPAMCHECKEND@@@

@@@FILTERSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>־ךַַׁÊ בהÊֹׁ ַהׁ׃ֶַה</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֽֿסֿ ַהׁס׃ֶַה ַהודׁסֹׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERREPEATLIMIT@@@ &nbsp;( 0 ÊÙזך Ùֿו בֽױ Êדַׁׁ ַהׁ׃ֶַה )
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Filter msgs with email address in bad format:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERBADADDRFORMAT@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>בהÊֹׁ ַהׁ׃ֶַה ַהÊך ÊֽÊטך Ùהי SMTP וׂטׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDSMTP@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>בהÊֹׁ ַהׁ׃ֶַה ַהÊך ÊֽÊטך Ùהי ֽגה וׁ׃ה וׂטׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDFROM@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>בהÊֹׁ ַהׁ׃ֶַה ַהÊך ÊֽÊטך Ùהי exe content-type וׂטׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDEXECONTENTTYPE@@@
</td></tr>
@@@FILTEREND@@@
@@@WEBMAILEND@@@

@@@WEBADDRSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>־ךַַׁÊ ֿבÊׁ ַהÙזַטךז</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וגַ׃ זַב׀ֹ ֿבÊׁ ַהÙזַטךז:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
ַהÙׁײ @@@ABOOKWIDTHMENU@@@ ַהֵׁÊבַÙ@@@ABOOKHEIGHTMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>וטגÙ ׁׂ ֿבÊׁ ַהÙזַטךז:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKBUTTONPOSITIONMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהבהÊׁ  ַהֵבÊַׁײך הֿבÊׁ ַהÙזַטךז:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKDEFAULTFILTER@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùֿֿ ַהÙזַטךז ַהוÙׁטײֹ הדה ױבֹֽ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKADDRSPERPAGE@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Display only one line per contact:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKADDRCOLLAPSE@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊׁÊךָ ַהֵבÊַׁײך הֿבÊׁ ַהÙזַטךז:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKADDRSORTORDER@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Listview field order:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@ nowrap>
@@@ABOOKLISTVIEWFIELDORDERMENU@@@
</td></tr>
@@@WEBADDREND@@@

@@@CALENDARSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>־ךַַׁÊ ַהÊגטךו</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÙׁײ ַהֵבÊַׁײך ההÊגטךו:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DEFAULTVIEWMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ÊÙׁךב ַהַÙךַֿ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HOLIDAYDEFMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùֿֿ ַהÙזַױׁ בך Ùׁײ ַהװחׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MONTHVIEWNUMITEMSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַָֿךֹ ַהַ׃ָטÙ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@WEEKSTARTMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>׃ַÙֹ ַהַָֿךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@STARTHOURMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>׃ַÙֹ ַהזחַךֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ENDHOURMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהבÊֹׁ בך Ùׁײ ַהךטו:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@INTERVALMENU@@@ ֿגךגֹ (ֿגֶַג)
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵ״חַׁ ַה׃ַÙַÊ ַהבַׁÚֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWEMPTYHOURSCHECKBOX@@@
</td></tr>
@@@REMINDERSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùֿֿ ֳךַו בֽױ ַהÊ׀דךׁ ַָהֻֽֿ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REMINDERDAYSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊ׀דךׁ ַָהַַֻֽֿ ַהÙַוֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REMINDERFORGLOBALCHECKBOX@@@
</td></tr>
@@@REMINDEREND@@@
@@@CALENDAREND@@@

@@@WEBDISKSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>־ךַַׁÊ ַהטךָ-ֿ׃ד</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùֿֿ ַהÙזַױׁ בך גֶַוֹ Ùׁײ ַהוּהֿ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DIRNUMITEMSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊֳדךֿ גָה ז׃־/זגה ַהוהבַÊ ֳט ַהוּהַֿÊ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILEMOVECOPY@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊֳדךֿ גָה ֽ׀ב ַהוהבַÊ ֳט ַהוּהַֿÊ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILEDEL@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊֳדךֿ גָה ײÚ׳ ַהוהבַÊ ֳט ַהוּהַֿÊ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILECOMPRESS@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ו׃ַֹֽ ֵ׳ַׁ Êֽׁךׁ ַהוהבַÊ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
ַהÙׁײ @@@FILEEDITCOLUMNSMENU@@@ ַהֵׁÊבַÙ @@@FILEEDITROWSMENU@@@
</td></tr>
@@@WEBDISKEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ַה־ךַַׁÊ ַהוÊזטסÙֹ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהÊׁוךׂ ַהֵבÊַׁײך הז״ַו ַהוהבַÊ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FSCHARSETMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵ׃Ê־ֿו װׁך׳ ַהֵײֶַֹ ההÊֽֿךֿ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USELIGHTBARCHECKBOX@@@
</td></tr>
@@@WEBMAILSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַ׃Ê־ַֿו Regex  בך גטַÙֿ ַהָֻֽ טַהבהÊֹׁ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REGEXMATCH@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ֵ־בֱַ ָךַזַÊ ַהוּהֿ ַהַֿ־הךסֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HIDEINTERNAL@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>גֶַוֹ וּהַֿÊ וױזבסֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CATEGORIZEDFOLDERS@@@ &nbsp;( ַהבַױה ָךז ַהױזב ט ַהוּהֿ @@@CATEGORIZEDFOLDERS_FS@@@ )
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ױטÊ ַהֵ־׳ַׁ ההָׁךֿ ַהּֿךֿ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@NEWMAILSOUNDMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>זַב׀ֹ ַהֵ־׳ַׁ ההָׁךֿ ַהּֿךֿ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
Ùֿֿ ֻטַזך ַה״חטׁ  @@@NEWMAILWINDOWTIMEMENU@@@  &nbsp;( 0 ÊÙזך Ùֿו ֵ״חַׁ ַהזַב׀ֹ )
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>זַב׀ֹ ַהֵ־׳ַׁ Ùזֿ ַׁ׃ַה ַהָׁךֿ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
Ùֿֿ ֻטַזך ַה״חטׁ  @@@MAILSENTWINDOWTIMEMENU@@@  &nbsp;( 0 ÊÙזך Ùֿו ֵ״חַׁ ַהזַב׀ֹ )
</td></tr>
@@@SPELLCHECKSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ַהגַוט׃ הÊֿגךג ַהֵוהֱַ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DICTIONARYMENU@@@
</td></tr>
@@@SPELLCHECKEND@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ùֿֿ ֳךַו ַהֵֽÊבַ״ ַָהׁ׃ֶַה בך ׃הֹ ַהוחוהַÊ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@TRASHRESERVEDDAYSMENU@@@
</td></tr>
@@@SPAMVIRUSSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Spam/Virus mail reserved day(s):</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SPAMVIRUSRESERVEDDAYSMENU@@@
</td></tr>
@@@SPAMVIRUSEND@@@
@@@WEBMAILEND@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>בÊֹׁ ַהÊֽֿךֻ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REFRESHINTERVALMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>בÊֹׁ ֵזÊחֱַ ַהּה׃ֹ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SESSIONTIMEOUTMENU@@@
</td></tr>
@@@FULLPREFSEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@>
<table><tr>
<td>@@@SAVEBUTTON@@@</td>
@@@ENDFORM@@@

@@@FULLPREFSSTART@@@
@@@STARTCANCELFORM@@@
<td>@@@CANCELBUTTON@@@</td>
@@@ENDFORM@@@
@@@FULLPREFSEND@@@

</tr></table></td></tr></table>

<script language="JavaScript">
<!--
   function seturldivvisibility()
   {
      var div=document.getElementById('urldiv');
      if (document.prefsform.background.value=='USERDEFINE') {
         div.style.visibility='visible';
      } else {
	 div.style.visibility='hidden';
      }
   }
	
   function playsound(url, soundname) 
   {
      if (soundname != "NONE" ) {
         window.open(url+soundname);
      } 
   }

   seturldivvisibility()

//-->
</script>
