<BR><BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="60%" cellpadding="1" cellspacing="1">
<tr><td bgcolor=@@@TITLEBAR@@@>
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>וÑÍÈכÇ @@@NAME@@@!</B></font>
</td></tr><tr><td align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<table width=85%><tr><td align="center">
<BR>וÑÍÈכÇ @@@NAME@@@!  ךÈÏט Ãז חÐח חך וÑסÊד ÇהÃטהי ÈÇÓÊÎÏÇו @@@NAME@@@,
הÐÇ זÍÊÇÌ Åהי ÌוÙ ÈÙÖ וÙהטוÇÊ Ùזד הÌÙה @@@NAME@@@ ךזÇÓÈ ÅÍÊךÇÌÇÊד È×ÑךגÉ ÃבÖה.  
ÇהÑÌÇÁ ÃזגÑ ÇÓÊוÑ הדך ÊÐחÈ Çהי ÔÇÔÉ ÊבÖךהÇÊ ÇהוÓÊÎÏו @@@NAME@@@.
@@@CONTINUEBUTTON@@@
</td></tr></table>
</td></tr></table>
