<!--

a:link {
    color : #0000FF;
    text-decoration : none;
}

a:active {
    color : #0000FF;
    background-color : #ffffff;
    text-decoration : none;
}

a:visited {
    color : #0000FF;
    text-decoration : none;
}

a:hover { 
    color : #FF0000;
    background-color : #ffffff;
    text-decoration : none;
}

body {
    background-repeat : no-repeat;
}
 
body, table, th, td {
    font-family : arial, helvetica, geneva, serif;
    font-size: 13px;
}

// -->
