<BR><BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="250" cellpadding="0" cellspacing="0">
<tr><td bgcolor=@@@TITLEBAR@@@>
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>Ukonèenie sedenia</B></FONT></TD></TR>
<tr><td align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<BR>Prepáète, ale èas na Va¹e spojenie vypr¹al. Chodte prosím spä» a
<a href="@@@STARTURL@@@"> prihláste sa znovu</a>.<BR><BR>
</td></tr></table>
