<tmpl_var header_template escape="none">

<div id="wrapper">
	<div id="content">
		<div class="contentbox">
			<div class="titlebar">gettext('Session Timeout')</div>
			
			<div class="contentboxdata">
				<p>
					gettext('Sorry, your session appears to have timed out.<br>Please go back and <a href="<tmpl_var start_url escape="none">">login</a>.')
				</p>
			</div>
		</div>
	</div> <!-- #content end -->

<tmpl_var footer_template escape="none">