<div class="wrapper">
  <div id="header">
    <div id="titleBar">
      <div id="leftTitle"></div>
      <div id="centerTitle"></div>
      <div id="rightTitle"></div>
    </div>

    <ul id="navigation">
      <li></li>
      <li></li>
      <li></li>
      <li class="right"></li>
      <li class="right"></li>
    </ul>
  </div><!-- #header end -->

  <div id="content">
    <div class="contentBox">
      <div class="contentBoxTitle"></div>
      <div class="contentBoxData"></div>
    </div>

    <table class="contentBox">
      <tr class="contentBoxTitle">
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr class="contentBoxData">
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tr>
    </table>
  </div><!-- #content end -->

  <div id="footer">
    <div id="version"></div>
    <div id="help"></div>
  </div><!-- #footer end -->
</div><!-- #wrapper end -->

