<tmpl_var header_template escape="none">

<div id="wrapper">

	<div id="content">
		<div class="contentbox">
			<div id="titlebar">gettext('Logout')</div>
			
			<div class="contentboxdata center" id="logoutForm">
				gettext('Logout successful, thank you.')
				<form action="<tmpl_var url_start escape="none">" method="post" name="loginform">
					<tmpl_if default_logindomain>
					<input type="hidden" name="logindomain" value="<tmpl_var default_logindomain escape="html">">
					</tmpl_if>
					
					<div class="contentboxdata_submit">
						<input type="submit" name="loginformsubmit" value="gettext('Login Again')">&nbsp;&nbsp;
					</div>
					
					<div class="contentboxdata_submit">
						<input type="button" name="exit" value="gettext('Exit')" onclick="top.window.close();">
					</div>
				</form>
			</div>
		</div>
	</div><!-- #content end -->

<tmpl_var footer_template escape="none">