<tmpl_var header_template escape="none">

<div id="wrapper">
	<div id="header">
		<div id="titlebar">
			<div id="lefttitle">gettext('About')</div>
		</div>
		
		<ul id="navigation">
			<li><a href="<tmpl_var url_cgi escape="none">/openwebmail-prefs.pl?action=editprefs&amp;sessionid=<tmpl_var sessionid escape="url">&amp;folder=<tmpl_var folder escape="url">&amp;message_id=<tmpl_var message_id escape="url">&amp;sort=<tmpl_var sort escape="url">&amp;page=<tmpl_var page escape="url">&amp;longpage=<tmpl_var longpage escape="url">&amp;userfirsttime=<tmpl_var userfirsttime escape="url">&amp;prefs_caller=<tmpl_var prefs_caller escape="url">" accesskey="F" class="icon" title="gettext('back to preferences')"><tmpl_if use_texticon>gettext('back to preferences')<tmpl_else><img src="<tmpl_var url_html escape="none">/images/iconsets/<tmpl_var iconset escape="html">/<tmpl_var iconset_button_back escape="html">" class="iconset_button" alt="gettext('back to preferences')"></tmpl_if></a></li>
		</ul>
	</div> <!-- #header end -->
	
	<div id="content">
		<tmpl_if show_softwareinfo>		
		<div class="contentbox">
			<div class="contentboxtitle">gettext('SOFTWARE')</div>
			
			<div class="contentboxdata">
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('Operating System')</div>
					<tmpl_var operatingsystem escape="html">
				</div>
				
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('Perl')</div>
					<tmpl_var perl_executable escape="html"> <tmpl_var perl_version escape="html">
				</div>
				
				<div class="prefabout_row">
					<div class="prefabout_label">OpenWebMail</div>
					<tmpl_var programname escape="html"> <tmpl_var programversion escape="html">.<tmpl_var programrevision escape="html"> <tmpl_var programreleasedate escape="html"><tmpl_if is_persistence> (<tmpl_else><tmpl_if is_httpcompression> (</tmpl_if></tmpl_if><tmpl_if is_persistence>Persistence,</tmpl_if><tmpl_if is_httpcompression>HTTP Compression</tmpl_if><tmpl_if is_persistence>)<tmpl_else><tmpl_if is_httpcompression>)</tmpl_if></tmpl_if>
				</div>
			</div>			
		</div>
		</tmpl_if>
		
		<tmpl_if show_protocolinfo>
		<div class="contentbox">
			<div class="contentboxtitle">gettext('PROTOCOL')</div>
			
			<div class="contentboxdata">
				<tmpl_if server_protocol>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('SERVER PROTOCOL')</div>
					<tmpl_var server_protocol escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if http_connection>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP CONNECTION')</div>
					<tmpl_var http_connection escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if http_keep_alive>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP KEEP ALIVE')</div>
					<tmpl_var http_keep_alive escape="html">
				</div>
				</tmpl_if>
			</div>
		</div>
		</tmpl_if>
		
		<tmpl_if show_serverinfo>
		<div class="contentbox">
			<div class="contentboxtitle">gettext('SERVER')</div>
			
			<div class="contentboxdata">
				<tmpl_if http_host>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP HOST')</div>
					<tmpl_var http_host escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if script_name>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('SCRIPT NAME')</div>
					<tmpl_var script_name escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if show_scriptfilenameinfo>
				<tmpl_if script_filename>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('SCRIPT FILENAME')</div>
					<tmpl_var script_filename escape="html">
				</div>
				</tmpl_if>
				</tmpl_if>
				
				<tmpl_if server_name>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('SERVER NAME')</div>
					<tmpl_var server_name escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if server_addr>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('SERVER ADDRESS')</div>
					<tmpl_var server_addr escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if server_port>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('SERVER PORT')</div>
					<tmpl_var server_port escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if server_software>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('SERVER SOFTWARE')</div>
					<tmpl_var server_software escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if show_sessioncount>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('ACTIVE SESSIONS')</div>
					<tmpl_var activelastminute escape="html">,<tmpl_var activelastfiveminute escape="html">,<tmpl_var activelastfifteenminute escape="html"> gettext('(in last 1, 5, 10 minutes)')
				</div>
				</tmpl_if>			
			</div>
		</div>
		</tmpl_if>
		
		<tmpl_if show_clientinfo>
		<div class="contentbox">
			<div class="contentboxtitle">gettext('CLIENT')</div>
			
			<div class="contentboxdata">
				<tmpl_if remote_addr>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('REMOTE ADDRESS')</div>
					<tmpl_var remote_addr escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if remote_port>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('REMOTE PORT')</div>
					<tmpl_var remote_port escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if http_client_ip>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP CLIENT IP')</div>
					<tmpl_var http_client_ip escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if http_x_forwarded_for>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP X FORWARDED FOR')</div>
					<tmpl_var http_x_forwarded_for escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if http_via>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP VIA')</div>
					<tmpl_var http_via escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if http_user_agent>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP USER AGENT')</div>
					<tmpl_var http_user_agent escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if http_accept_encoding>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP ACCEPT ENCODING')</div>
					<tmpl_var http_accept_encoding escape="html">
				</div>
				</tmpl_if>
				
				<tmpl_if http_accept_language>
				<div class="prefabout_row">
					<div class="prefabout_label">gettext('HTTP ACCEPT LANGUAGE')</div>
					<tmpl_var http_accept_language escape="html">
				</div>
				</tmpl_if>
			</div>
		</div>
		</tmpl_if>
	</div> <!-- #content end -->

<tmpl_var footer_template escape="none">