<tmpl_var header_template escape="none">

<div id="wrapper">
	<div id="content">
		<div class="contentbox">
			<div class="titlebar">gettext('Welcome to <tmpl_var programname escape="html">!')</div>
		
			<div class="contentboxdata center">
				gettext('It appears that this is your first time using <tmpl_var programname escape="html">, so we need to gather some information about you to better configure <tmpl_var programname escape="html"> to suit your needs. Please click continue to proceed to the <tmpl_var programname escape="html"> configuration screen.')
			
				<div class="contentboxdata_submit">
					<form action="<tmpl_var url_cgi escape="none">/openwebmail-prefs.pl" method="post" name="userfirsttimeform">
						<input type="hidden" name="action" value="editprefs">
						<input type="hidden" name="sessionid" value="<tmpl_var sessionid escape="html">">
						<input type="hidden" name="userfirsttime" value="1">
						<input type="submit" name="Continue" value="gettext('Continue')">
					</form>
				</div>
			</div>
		</div>
	</div> <!-- #content end -->
	
<tmpl_var footer_template escape="none">