<tmpl_var header_template escape="none">

<div class="wrapper" id="autoclose">
	<div id="header">
		<div id="titlebar">
			<div id="lefttitle"><tmpl_var message_title escape="html"></div>			
		</div>
	</div><!-- #header end -->
		
	<div id="content">
		<div class="contentbox">	
			<div class="contentboxdata">
				<tmpl_var message escape="html">				
				<form action="#" method="post" name="closeform">
					<input type="button" name="okbutton" value="gettext('ok')" onclick="autoclose();">
				</form>
			</div>
		</div>
	</div><!-- #content end -->
	
<script type="text/javascript">
<!--
setTimeout("autoclose()", <tmpl_var seconds escape="js"> * 1000);

function autoclose() {
   <tmpl_if refresh_dirform>
   if (window.opener.document.dirform != null) {
      window.opener.document.dirform.submit();
   }
   </tmpl_if>
   window.close();
}
//-->
</script>

<tmpl_var footer_template escape="none">