<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<tmpl_var charset escape="html">">
  <title>gettext('<tmpl_var programname escape="html"> Error')</title>
  <link rel="stylesheet" type="text/css" href="<tmpl_var url_styles escape="none">/<tmpl_var stylesheet escape="html">">
</head>

<body onhelp="window.open('<tmpl_var url_help escape="none">', '_help'); return false;" style="font-size: 10pt;">

<div class="wrapper" id="error">
	<div id="header">
		<div id="titlebar">
			<div id="lefttitle">gettext('<tmpl_var programname escape="html"> Error')</div>	

			<div id="righttitle"><span class="smalltext">(<tmpl_var file escape="html">:<tmpl_var linenumber escape="html"> rev <tmpl_var programrevision escape="html">)</div>
		</div>
	</div><!-- #header end -->

	<div id="content">
		<div class="contentbox">
			<div class="contentboxdata">
				<tmpl_if message_unknown>gettext('An unknown error has occured.')<tmpl_else><tmpl_if passthrough><tmpl_var message escape="none"><tmpl_else><tmpl_var message escape="html"></tmpl_if></tmpl_if><br><br>
				<tmpl_if stacktrace>
				Stacktrace:<br>
				<form><textarea rows="20" cols="78"><tmpl_var stacktrace escape="html"></textarea></form>
				</tmpl_if>
			</div>
		</div>
	</div><!-- #content end -->
</div>

	<div id="footer">
		<div id="version">gettext('<a href="http://openwebmail.acatysmoof.com" target="_blank"><tmpl_var programname escape="html"></a> version <tmpl_var programversion escape="html">')</div></div>

		<div id="help"><a accesskey="H" href="<tmpl_var url_help escape="none">" target="_help"><tmpl_var help_text escape="html"></a></div>
	</div><!-- #footer end -->
</div><!-- #wrapper end -->
</html>
</body>
