<tmpl_var header_template escape="none">

<form method="post" action="<tmpl_var url_cgi escape="none">/openwebmail-webdisk.pl" name="editfile">
<input type="hidden" name="currentdir" value="<tmpl_var currentdir escape="html">">
<input type="hidden" name="sessionid" value="<tmpl_var sessionid escape="html">">
<input type="hidden" name="action" value="savefile">

<div id="wrapper">
	<div id="content">
		<div class="contentbox">
			<div class="titlebar">gettext('Edit File')</div>
			
			<div class="contentboxdata">
				<label for="destname">gettext('Filename:')</label>
				<input type="text" name="destname" value="<tmpl_var vpathstr escape="html">" size="66"><br />
				
				<label for="filecontent">gettext('File contents:')</label><br />
				<textarea class="monospacetext" name="filecontent" rows="<tmpl_var rows escape="html">" cols="<tmpl_var columns escape="html">" wrap="soft"><tmpl_var filecontent escape="html"></textarea>
				
				<div class="editfile_submit center">
					<input type="submit" name="save" value="gettext('save')"> <tmpl_if is_html><input type="submit" name="previewbutton" value="gettext('preview')" onclick="preview(); return false;"></tmpl_if> <input type="button" name="cancelbutton" value="gettext('cancel')" onclick="window.close();">
				</div>
			</div>
			
			</form>
	</div> <!-- #content end -->

	<form method="post" action="<tmpl_var url_cgi escape="none">/openwebmail-webdisk.pl" target="_preview" name="previewform">
	<input type="hidden" name="action" value="preview">
	<input type="hidden" name="currentdir" value="<tmpl_var currentdir escape="html">">
	<input type="hidden" name="sessionid" value="<tmpl_var sessionid escape="html">">
	<input type="hidden" name="filecontent" value="">
	<input type="hidden" name="selitems" value="">
	</form>

	<script language="javascript">
	<!--
	   function preview() {
		  document.previewform.sessionid.value = document.editfile.sessionid.value;
		  document.previewform.selitems.value = document.editfile.destname.value;
		  document.previewform.filecontent.value = document.editfile.filecontent.value;
		  document.previewform.submit();
	   }
	//-->
	</script>

<tmpl_var footer_template escape="none">