<BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="25%" cellpadding="0" cellspacing="0">
<tr><td bgcolor=@@@TITLEBAR@@@ align="left">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<b>B£¡D WYSY£ANIA WIADOMO¦CI</B></FONT>
</td></tr><tr><td valign="middle" align="center" bgcolor=@@@WINDOW_LIGHT@@@>
Przykro mi, ale wyst±pi³ problem podczas wysy³ania wiadomo¶ci. Kliknij przycisk "Wstecz" w swojej przegl±darce, sprawd¼ wiadomo¶æ i spróbuj jeszcze raz.
Je¶li problem pozostanie, skontaktuj siê z autorem - <a href="mailto:neorants@users.sourceforge.net">neorants@users.sourceforge.net.</a>
</td></tr></table>
