<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

Tisztelt @@@USEREMAIL@@@,<br><br>
Ön hosszú ideig maradt távol a gépétõl.
A rendszer 1 percen belül automatikusan kilépteti.

</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value=" ok " onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>
