<BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="40%" cellpadding="1" cellspacing="1">
<tr><td bgcolor=@@@TITLEBAR@@@ align="left">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>HESLO ZMENENÉ</B></font>
</td></tr><tr><td align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<BR>Va¹e heslo bolo úspe¹ne zmenené.<BR>
@@@CONTINUEBUTTON@@@
</td></tr></table>
