<BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="25%" cellpadding="0" cellspacing="0">
<tr><td bgcolor=@@@TITLEBAR@@@ align="left">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>UKONÈENIE SEDENIA</B></FONT></TD></TR>
<tr><td valign="middle" align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<BR>Prepáète, ale èas na Va¹e spojenie vypr¹al. Chodte prosím spä» a
<a href="@@@SCRIPTURL@@@"> nahláste sa</a>.<BR><BR>
</td></tr></table>
