<!--
a:link{color:0000FF;text-decoration:none}
a:active{color:0000FF;text-decoration:none}
a:visited{color:0000FF;text-decoration:none}
a:hover{color:FF0000;text-decoration:none}

body.{background-repeat:no-repeat;}
th{
      font-family:"宋体";
      font-size:13px;
      }
// 
body {       font-family:"宋体";
      font-size:12px;
 } table {       font-family:"宋体";
      font-size:13px;
 } td  {       font-family:"宋体";
      font-size:13px;
 }
// -->
