<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tmpl_var charset escape="html">">
  <title><tmpl_var titleinfo escape="html"></title>
  <link rel="shortcut icon" href="<tmpl_var url_ico escape="none">">
  <link rel="stylesheet" type="text/css" href="<tmpl_var url_styles escape="none">/<tmpl_var stylesheet escape="html">">

  <tmpl_if showaltstyles>
  <tmpl_loop stylesheetsloop>
  <link rel="alternate stylesheet" type="text/css" href="<tmpl_var url_styles escape="none">/<tmpl_var stylesheet escape="html">" title="<tmpl_var stylesheet escape="html">">
  </tmpl_loop>
  </tmpl_if>

  <tmpl_if login_virtual_keyboard>
  <script type="text/javascript">
	  <!--
	  var owm_vki_imageuri = '<tmpl_var url_html escape="js">/javascript/keyboard/keyboard.png';
	  var owm_vki_i18n = {
							'00': 'jgettext('display number pad')',
							'01': 'jgettext('display virtual keyboard interface')',
							'02': 'jgettext('select keyboard layout')',
							'03': 'jgettext('dead keys')',
							'04': 'jgettext('on')',
							'05': 'jgettext('off')',
							'06': 'jgettext('close the keyboard')',
							'07': 'jgettext('clear')',
							'08': 'jgettext('clear this input')',
							'09': 'jgettext('version')',
							'10': 'jgettext('decrease keyboard size')',
							'11': 'jgettext('increase keyboard size')'
						 };
	  // -->
  </script>  
  <link rel="stylesheet" type="text/css" href="<tmpl_var url_html escape="none">/javascript/keyboard/keyboard.css">
  <script type="text/javascript" src="<tmpl_var url_html escape="none">/javascript/keyboard/keyboard.js" charset="utf-8"></script>
  </tmpl_if>
</head>

<!-- <tmpl_var diagnostics> -->

<body onhelp="window.open('<tmpl_var url_help escape="none">', '_help'); return false;" style="background-image: url(<tmpl_var url_bg escape="none">); background-repeat: <tmpl_if bgrepeat>repeat<tmpl_else>no-repeat</tmpl_if>; font-size: <tmpl_var fontsize escape="html">; direction: <tmpl_var languagedirection escape="html">;">

<tmpl_var headerpluginoutput escape="none">
