/*
font-size is inherited from the body tag in header.tmpl, which is
set by the user - please do not set the body font-size here
*/
body { background-color: #9faabb; color: #000000; font-family: Geneva, Arial, Helvetica, sans-serif; scrollbar-arrow-color: #000000; scrollbar-base-color:#d3dae3; scrollbar-face-color:#d3dae3; }
td { font-family: Geneva, Arial, Helvetica, sans-serif; }
td.login_titlebar { color: #ffffff; background-color: #3161bd; font-size: 125%; font-weight: bold; }
td.login_border { background-color: #3161bd; }
td.login_small { font-size: 75%; }
td.background { background-color: #9faabb; }
td.titlebar { background-color: #000000; color: #ffffff; font-size: 112%; font-weight: bold; }
td.menubar { background-color: #6699cc; }
td.windowdark { background-color: #dddddd; }
td.windowdarkbold { background-color: #dddddd; font-weight: bold; }
td.windowlight { background-color: #eeeeee; }
td.columnheader { background-color: #d3dae3; font-weight: bold; }
td.columnheadercolor { background-color: #d3dae3; }
td.warning { color: #dd0000; font-weight: bold; }
td.attachmentdark { background-color: #dddddd; }
td.attachmentlight { background-color: #e5e5e5; }
img.attachment { border: 2px solid #dddddd; }
form { margin: 0; }
input.mono { font-family: monospace; font-size: 80%; }
select.mono { font-family: monospace; font-size: 80%; }
h1 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 140%; font-weight: bold; }
a:link { text-decoration: none; color: #000000; }
a:visited { text-decoration: none; color: #000000; }
a:hover { color: #ff0000; }
a.icon:link { font-weight: bold; }
a.loading:link { text-decoration: none; color: #333333; }
a.loading:visited { color: #333333; }
a.loading:hover { color: #333333; }
a.copyright:link { text-decoration: none; color: #cccccc; }
a.copyright:visited { color: #cccccc; }
a.copyright:hover { color: #333333; }
a.messagebody:link { text-decoration: none; color: #000000; }
a.messagebody:visited { color: #000000; }
a.messagebody:hover { color: #ff0000; }
.rowdark { background-color: #d3dae3; }
.rowlight { background-color: #ffffff; }
.rowhilite { background-color: #ffcccc; }
.medtext { font-size: 85%; }
.smalltext { font-size: 80%; }
.smalllighttext { font-size: 80%; color: #aaaaaa; }
.smallblacktext { font-size: 80%; color: #000000; }
.smallcolortext { font-size: 80%; color: #c00000; }
.hilighttext { font-style: normal; font-weight: bold; background-color: #6699cc; }
.quotedtext { color: #009900; }
.colortext { color: #c00000; }
.monospacetext { font-family: "Courier 10 Pitch", "Courier New", "Courier", "Lucida Console", monospace; }
.messageheaderproperty { font-weight: bold; }
