/*
font-size is inherited from the body tag in header.tmpl, which is
set by the user - please do not set the body font-size here
*/
body { background-color: #cdfacd; color: #000000; font-family: Arial, Helvetica, sans-serif; }
td { font-family: Arial, Helvetica, sans-serif; }
td.login_titlebar { color: #ffffff; background-color: #3161bd; font-size: 125%; font-weight: bold; }
td.login_border { background-color: #3161bd; }
td.login_small { font-size: 80%; }
td.titlebar { background-color: #074707; color: #dafada; font-size: 105%; font-weight: bold; }
td.background { background-color: #cdfacd; }
td.menubar { background-color: #aaefaa; }
td.windowdark { background-color: #aaefaa; }
td.windowdarkbold { background-color: #aaefaa; font-weight: bold; }
td.windowlight { background-color: #e6ffe6; }
td.rowdark { background-color: #aaefaa; }
td.rowlight { background-color: #dff7df; }
td.rowhilite { background-color: #ffcccc; }
td.columnheader { background-color: #94c894; font-weight: bold; }
td.warning { color: #dd0000; font-weight: bold; }
form { margin-bottom: 0; }
input.mono { font-family: monospace; font-size: 80%; }
select.mono { font-family: monospace; font-size: 80%; }
h1 { font-family: Arial, Helvetica, sans-serif; font-size: 140%; font-weight: bold; }
a:link { text-decoration: none; color: #0000ff; }
a:visited { color: #0000ff; }
a:hover { color: #ff0000; }
a.icon:link { font-weight: bold; }
a.loading:link { text-decoration: none; color: #333333; }
a.loading:visited { color: #333333; }
a.loading:hover { color: #333333; }
a.copyright:link { text-decoration: none; color: #cccccc; }
a.copyright:visited { color: #cccccc; }
a.copyright:hover { color: #333333; }
.medtext { font-size: 80%; }
.smalltext { font-size: 65%; }
.smallblacktext { font-size: 65%; color: #000000; }
.smallcolortext { font-size: 65%; color: #c00000; }
.hilighttext { font-style: normal; font-weight: bold; background-color: #aaefaa; }
