/*
font-size is inherited from the body tag in header.tmpl, which is
set by the user - please do not set the body font-size here
*/
body { background-color: #a6a8aa; color: #000000; font-family: Geneva, Arial, Helvetica, sans-serif; scrollbar-arrow-color: #000000; scrollbar-base-color: #dcdcdc; scrollbar-face-color: #dcdcdc; }
td { font-family: Geneva, Arial, Helvetica, sans-serif; }
td.login_titlebar { color: #ffffff; background-color: #3161bd; font-size: 125%; font-weight: bold; }
td.login_border { background-color: #3161bd; }
td.login_small { font-size: 75%; }
td.background { background-color: #a6a8aa; }
td.titlebar { background-color: #000000; color: #ffffff; font-size: 112%; font-weight: bold; }
td.menubar { background-color: #dcdcdc; }
td.windowdark { background-color: #d3dae3; }
td.windowdarkbold { background-color: #d3dae3; font-weight: bold; }
td.windowlight { background-color: #ffffff; }
td.columnheader { background-color: #d3dae3; font-weight: bold; }
td.columnheadercolor { background-color: #d3dae3; }
td.warning { color: #dd0000; font-weight: bold; }
td.attachmentdark { background-color: #d3dae3; }
td.attachmentlight { background-color: #eeeeee; }
img.attachment { border: 2px solid #d3dae3; }
form { margin: 0; }
input.mono { font-family: monospace; font-size: 80%; }
select.mono { font-family: monospace; font-size: 80%; }
pre { white-space: pre-wrap; }
h1 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 140%; font-weight: bold; }
a:link { text-decoration: none; color: #000000; }
a:visited { text-decoration: none; color: #000000; }
a:hover { color: #ff0000; }
a.columnheader:link { text-decoration: none; color: #000000; }
a.columnheader:visited { text-decoration: none; color: #000000; }
a.columnheader:hover { color: #ff0000; }
a.icon:link { font-weight: bold; }
a.loading:link { text-decoration: none; color: #333333; }
a.loading:visited { color: #333333; }
a.loading:hover { color: #333333; }
a.copyright:link { text-decoration: none; color: #cccccc; }
a.copyright:visited { color: #cccccc; }
a.copyright:hover { color: #333333; }
a.messagebody:link { text-decoration: none; color: #000000; }
a.messagebody:visited { color: #000000; }
a.messagebody:hover { color: #ff0000; }
.rowdark { background-color: #d3dae3; }
.rowlight { background-color: #ffffff; }
.rowhilite { background-color: #ffcccc; }
.medtext { font-size: 85%; }
.smalltext { font-size: 80%; }
.smalllighttext { font-size: 80%; color: #aaaaaa; }
.smallblacktext { font-size: 80%; color: #000000; }
.smallcolortext { font-size: 80%; color: #c00000; }
.lighttext { color: #aaaaaa; }
.hilitetext { font-style: normal; font-weight: bold; background-color: #dcdcdc; }
.quotedtext { color: #009900; }
.colortext { color: #c00000; }
.monospacetext { font-family: "Courier 10 Pitch", "Courier New", "Courier", "Lucida Console", monospace; }
.messageheaderproperty { font-weight: bold; }
.eventcolor0  { background-color: #d3dae3; border: solid 1px #666666; }
.eventcolor1a { background-color: #b0b0e0; border: solid 1px #7b7bc2; }
.eventcolor1b { background-color: #b0e0b0; border: solid 1px #7bc27b; }
.eventcolor1c { background-color: #b0e0e0; border: solid 1px #7bc2c2; }
.eventcolor1d { background-color: #e0b0b0; border: solid 1px #c27b7b; }
.eventcolor1e { background-color: #e0b0e0; border: solid 1px #c27bc2; }
.eventcolor1f { background-color: #e0e0b0; border: solid 1px #c2c27b; }
.eventcolor2a { background-color: #9090f8; border: solid 1px #5d5dda; }
.eventcolor2b { background-color: #90f890; border: solid 1px #5dda5d; }
.eventcolor2c { background-color: #90f8f8; border: solid 1px #5ddada; }
.eventcolor2d { background-color: #f89090; border: solid 1px #da5d5d; }
.eventcolor2e { background-color: #f890f8; border: solid 1px #da5dda; }
.eventcolor2f { background-color: #f8f890; border: solid 1px #dada5d; }

/* popup calendar styles */
#mypopupCal{ position: absolute; visibility: hidden; }
.stylecal { font-size: 90%; color: #000000; }
td.todayhilite { background-color: #f89090; font-weight: bold; border: solid 1px #da5d5d; }
a.notmonth:link { font-size: 90%; color: #cccccc; }
a.notmonth:visited { font-size: 90%; color: #cccccc; }
a.notmonth:hover { font-size: 90%; color: #ff0000; }
a.stylecal:link { font-size: 90%; color: #000000; }
a.stylecal:visited { font-size: 90%; color: #000000; }
a.stylecal:hover { font-size: 90%; color: #ff0000; }
