<tmpl_var header_template>

<table cellpadding="1" cellspacing="0" border="0" align="center" width="90%">
<tr>
  <td class="titlebar">User History</td>
</tr>
<tr>
  <td class="menubar">
    <a href="<tmpl_var url_cgi>/openwebmail-prefs.pl?action=editprefs<tmpl_loop standardparamsloop><tmpl_if value>&amp;<tmpl_var name>=<tmpl_var value escape="url"></tmpl_if></tmpl_loop>" accesskey="F" class="icon"><tmpl_if use_texticon>back to user preferences<tmpl_else><img src="<tmpl_var url_html>/images/iconsets/<tmpl_var iconset escape="html">/backtofolder.gif" title="back to user preferences" alt="back to user preferences" border="0" align="absmiddle"></tmpl_if></a>
  </td>
</tr>
</table>

&nbsp;

<table cellspacing="0" cellpadding="0" border="0" align="center" width="90%">
<tr>
  <td align="center" class="columnheader">Time</td>
  <td align="center" class="columnheader">Client Address</td>
  <td align="center" class="columnheader">User</td>
  <td align="center" class="columnheader">Event</td>
  <td align="center" class="columnheader">Description</td>
</tr>

<tmpl_loop historyloop>
<tr>
  <td class="<tmpl_if is_warning>rowhilite<tmpl_else><tmpl_if __odd__>rowdark<tmpl_else>rowlight</tmpl_if></tmpl_if>" align="center"><tmpl_var timestamp escape="html"></td>
  <td class="<tmpl_if is_warning>rowhilite<tmpl_else><tmpl_if __odd__>rowdark<tmpl_else>rowlight</tmpl_if></tmpl_if>" align="center"><tmpl_var ip_address escape="html"></td>
  <td class="<tmpl_if is_warning>rowhilite<tmpl_else><tmpl_if __odd__>rowdark<tmpl_else>rowlight</tmpl_if></tmpl_if>" align="center"><tmpl_var username escape="html"></td>
  <td class="<tmpl_if is_warning>rowhilite<tmpl_else><tmpl_if __odd__>rowdark<tmpl_else>rowlight</tmpl_if></tmpl_if>" align="center"><tmpl_var event escape="html"></td>
  <td class="<tmpl_if is_warning>rowhilite<tmpl_else><tmpl_if __odd__>rowdark<tmpl_else>rowlight</tmpl_if></tmpl_if>" align="center"><tmpl_var desc escape="0"></td>
</tr>
</tmpl_loop>

</table>

<tmpl_var footer_template>
