<BR><BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="250" cellpadding="0" cellspacing="0">
<tr><td bgcolor=@@@TITLEBAR@@@>
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>SITZUNG ABGELAUFEN</B></FONT></TD></TR>
<tr><td align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<BR>Ihre Sitzung ist abgelaufen, da die Verbindung zum Server zu lange inaktiv war! Bitte melden Sie sich
<a href="@@@STARTURL@@@">erneut</a> an.<BR><BR>
</td></tr></table>
