<html>

<head>
   <title>Redirecionando para Login SSL...</title>
   <meta http-equiv="refresh" content="5;url="<tmpl_var start_url escape="html">">

   <script type="text/javascript">
   <!--
      setTimeout("window.location.href='<tmpl_var start_url escape="html">'", 6000);
   //-->
   </script>
</head>

<body>

<br><br>
<p align="center">Serviço disponível apenas por SSL.<br>
Você será redirecionado para o <a href="<tmpl_var start_url escape="html">">Login SSL </a> em 5 segundos...</p>

</body>
</html>
