<tmpl_var header_template>

<center>
<a href="<tmpl_var logo_link>"><img border="0" src="<tmpl_var url_logo escape="html">"></a><br><br>
</center>

<table cellpadding="0" cellspacing="0" border="0" width="260" align="center">
<tr>
  <td class="login_titlebar" style="background-image: url(<tmpl_var url_html>/images/bg-titleblue.gif);">&nbsp;Login</td>
</tr>
<tr>
  <td align="center" class="login_border">
    <table cellpadding="0" cellspacing="1" border="0" width="100%">
    <tr>
      <td class="background">
        <form action="<tmpl_var url_cgi>/openwebmail.pl" name="loginform">

        <!-- support the possible redirect after login -->
        <tmpl_loop redirectloop>
        <input type="hidden" name="<tmpl_var name>" value="<tmpl_var value>">
        </tmpl_loop>
        <!-- end redirect support -->

        <tmpl_unless enable_domainselect>
        <input type="hidden" name="logindomain" value="<tmpl_var logindomain>">
        </tmpl_unless>

        <table cellpadding="0" cellspacing="2" border="0" align="center">
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
          <td align="right" nowrap>Usuário:</td>
          <td align="left"><input type="text" name="loginname" size="<tmpl_var loginfieldwidth>" onchange="focuspwd();"></td>
        </tr>
        <tr>
          <td align="right" nowrap>Senha:</td>
          <td align="left"><input type="password" name="password" size="<tmpl_var loginfieldwidth>" onchange="focusloginbutton();"></td>
        </tr>

        <!-- support domain selection -->
        <tmpl_if enable_domainselect>
        <tr>
          <td align="right" nowrap>Domínio:</td>
          <td>
            <select name="logindomain">
              <tmpl_loop domainselectloop>
              <option value="<tmpl_var option>" <tmpl_if selected>selected</tmpl_if>><tmpl_var label></option>
              </tmpl_loop>
            </select>
          </td>
        </tr>
        </tmpl_if>
        <!-- end support domainselect -->

        <tr>
          <td colspan="2">
            <table cellpadding="2" cellspacing="1" border="0" align="center">
            <tr>
              <td align="center"><input type="submit" name="loginbutton" value="Login"></td>
              <td>
                <table cellpadding="2" cellspacing="0" border="0" align="center">
                <tr>
                  <td><input type="checkbox" name="httpcompress" value="1" <tmpl_if enable_httpcompression><tmpl_if use_httpcompression>checked="checked"</tmpl_if> onclick="httpcompresshelp();"<tmpl_else>disabled="1"</tmpl_if>></td>
                  <td class="login_small" align="left">Compressão<br>HTTP</td>

                  <!-- support autologin if it is allowed for this ip -->
                  <tmpl_if enable_autologin>
                  <td><input type="checkbox" name="autologin" value="1" <tmpl_if use_autologin>checked="checked"</tmpl_if> onclick="autologinhelp();"></td>
                  <td class="login_small" align="left">Auto<br>Login</td>
                  </tmpl_if>
                  <!-- end support autologin -->
                </tr>
                </table>
              </td>
            </tr>
            </table>
          </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        </table>
        </form>
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>

<script type="text/javascript">
<!--

   if (document.loginform.loginname.value == "") {
      document.loginform.loginname.focus()
   } else {
      document.loginform.password.focus()
   }

   function focuspwd() {
      document.loginform.password.focus();
      return true;
   }

   function focusloginbutton() {
      document.loginform.loginbutton.focus();
      return true;
   }

   function httpcompresshelp() {
      if (document.loginform.httpcompress.checked) {
         var msg = '';
         msg += "Compressão HTTP pode reduzir efetivamente o uso da banda da rede entre o seu computador e o servidor de e-mail.";
         msg += "Porém existem alguns casos de incompatibilidade:\n\n";
         msg += "1. Alguns servidores proxy apenas suportam compressão por HTTP 1.1, ";
         msg += "tavez seja necessario habilitar o suporte ao HTTP1.1 para proxy em seu navegador\n";
         msg += "2. Alguns servidores proxy não suportam compressão HTTP, ";
         msg += "na configuração de proxy de seu navegador, talvez seja necessário indicar o servidor de e-mail como conectado diretamente.\n";
         msg += "3. Alguns navegadores tem problemas ao usar compressão HTTP com SSL...\n";
         msg += "4. Alguns navegadores dizem suportar compressão HTTP, mas não suportam...\n\n";
         msg += "Então caso tenha algum problema, por favor logue-se novamente com esta opção desativada.\n";
         alert(msg);
      }
      return true;
   }

   function autologinhelp() {
      if (document.loginform.autologin.checked) {
         var msg = '';
         msg += "Com esta opção ativada, você pode acessar o openwebmail sem digitar o usuário/senha";
         msg += "caso você não tenha efetuado logout em sua sessão openwebmail anterior e aquela sessão não tenha sido expirada. ";
         msg += "Porém, outros podem auto-logar em sua conta openwebmail neste computador,";
         msg += "portanto, por favor NÃO habilite esta opção em um computador público\n";
         alert(msg);
      }
      return true;
   }

//-->
</script>

<tmpl_var footer_template>
