<tmpl_var header_template>

<br><br><br><br><br><br><br>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="25%">
<tr>
  <td class="titlebar">Login Inválido</td>
</tr>
<tr>
  <td align="center" class="rowlight"><br>O login falhou. <tmpl_if message><tmpl_var message>.</tmpl_if><br> Por favor volte e <a href="<tmpl_var url_start escape="html">">tente novamente</a>.<br><br></td>
</tr>
</table>

<tmpl_var footer_template>
