<tmpl_var header_template>

<table cellspacing="0" cellpadding="0" border="0" align="center" width="90%">
<tr>
  <td class="warning">Olá <tmpl_var useremail>,<br><br>Você esteve sem atividade por um longo período. Caso nenhuma ação seja realizada, esta sessão será encerrada em 60 segundos.</td>
</tr>
<tr>
  <td align="center"><form><br><input type="button" NAME="OK" value=" ok " onclick="window.close();"></form><br></td>
</tr>
</table>

<script type="text/javascript">
<!--
   setTimeout("close()", 60*1000);
//-->
</script>

</body>
</html>
