<tmpl_var header_template>

<br><br><br><br><br><br><br>
<table cellpadding="1" cellspacing="1" border="0" width="60%" align="center">
<tr>
  <td class="titlebar">Welcome to <tmpl_var programname>!</td>
</tr>
<tr>
  <td>
    <table cellpadding="15" cellspacing="0" border="0" align="center">
    <tr>
      <td class="windowlight">It appears that this is your first time using <tmpl_var programname>, so we need to gather some information about you to better configure <tmpl_var programname> to suit your needs. Please click continue to proceed to the <tmpl_var programname> configuration screen.<br><br>
        <center>
        <form action="<tmpl_var url_cgi>/openwebmail-prefs.pl" name="userfirsttimeform">
          <input type="hidden" name="action" value="editprefs">
          <input type="hidden" name="sessionid" value="<tmpl_var thissession escape="html">">
          <input type="hidden" name="userfirsttime" value="1">
          <input type="submit" name="Continue" value="Continue">
        </form>
        </center>
        <br>
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>

<tmpl_var footer_template>
