<tmpl_var header_template>

<br><br><br><br><br><br><br>
<table cellpadding="1" cellspacing="1" border="0" width="60%" align="center">
<tr>
  <td class="titlebar">Bem-vindo ao <tmpl_var programname>!</td>
</tr>
<tr>
  <td>
    <table cellpadding="15" cellspacing="0" border="0" align="center">
    <tr>
      <td class="windowlight">Aparentemente esta é a primeira vez que você está utilizando o <tmpl_var programname>, então precisamos coletar algumas informações sobre você para configurar o <tmpl_var programname> para atender suas necessidades da melhor forma. Por favor clique em continuar para ir para a tela de configuração do <tmpl_var programname>.<br><br>
        <center>
        <form action="<tmpl_var url_cgi>/openwebmail-prefs.pl" name="userfirsttimeform">
          <input type="hidden" name="action" value="editprefs">
          <input type="hidden" name="sessionid" value="<tmpl_var thissession escape="html">">
          <input type="hidden" name="userfirsttime" value="1">
          <input type="submit" name="Continue" value="Continuar">
        </form>
        </center>
        <br>
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>

<tmpl_var footer_template>
