<tmpl_var header_template>

<br><br><br><br><br><br><br>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="40%">
<tr>
  <td class="titlebar">Senha alterada</td>
</tr>
<tr>
  <td align="center" class="windowlight">
    <br>A senha foi alterada com sucesso.
    <br><br>
    <form method="post" action="<tmpl_var url_afterchpass>/openwebmail-prefs.pl" name="editpasswordpassform">
    <input type="hidden" name="action" value="editprefs">
    <tmpl_loop standardparamsloop>
    <input type="hidden" name="<tmpl_var name>" value="<tmpl_var value escape="html">">
    </tmpl_loop>
    <input type="submit" name="editpasswordpassformsubmit" value="Voltar para as preferências do usuário">
    </form>
    <br>
  </td>
</tr>
</table>

<tmpl_var footer_template>
