<tmpl_var header_template>

<br><br><br><br><br><br><br>

<table cellpadding="0" cellspacing="0" border="0" align="center" width="40%">
<tr>
  <td class="titlebar">Alteração de senha falhou</td>
</tr>
<tr>
  <td class="windowlight" align="center"><br><tmpl_var errormessage></td>
</tr>
<tr>
  <td class="windowlight" align="center">Nenhuma alteração foi efetuada.</td>
</tr>
<tr>
  <td class="windowlight">
    <table cellpadding="12" cellspacing="0" border="0" align="center">
    <tr>
      <td class="windowlight" align="right">
        <form method="post" action="<tmpl_var url_tryagain>/openwebmail-prefs.pl" name="tryagainform">
        <input type="hidden" name="action" value="editpassword">
        <tmpl_loop standardparamsloop>
        <input type="hidden" name="<tmpl_var name>" value="<tmpl_var value escape="html">">
        </tmpl_loop>
        <input type="submit" name="tryagainformsubmit" value="Try Again">
        </form>
      </td>
      <td class="windowlight">
        <form method="post" action="<tmpl_var url_afterchpass>/openwebmail-prefs.pl" name="editpasswordfailform">
        <input type="hidden" name="action" value="editprefs">
        <tmpl_loop standardparamsloop>
        <input type="hidden" name="<tmpl_var name>" value="<tmpl_var value escape="html">">
        </tmpl_loop>
        <input type="submit" name="editpasswordfailformsubmit" value="Back to User Preferences">
        </form>
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>

<tmpl_var footer_template>
