<tmpl_var header_template>

<br><br><br><br><br>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="40%">
<tr>
  <td class="titlebar">Alterar Senha</td>
</tr>
<tr>
  <td align="center" class="windowlight">
    <form method="post" action="<tmpl_var url_chpwd>/openwebmail-prefs.pl" name="passwordform">
    <input type="hidden" name="action" value="changepassword">
    <tmpl_loop standardparamsloop>
    <input type="hidden" name="<tmpl_var name>" value="<tmpl_var value escape="html">">
    </tmpl_loop>

    <table cellspacing="2" cellpadding="0" border="0" align="center">
    <tr>
      <td class="windowlight" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="windowlight" align="right">Usuário:</td>
      <td><input type="text" size="20" name="loginname" value="<tmpl_var loginnametext>" disabled="1"></td>
    </tr>
    <tr>
      <td class="windowlight" align="right">Senha atual:</td>
      <td><input type="password" size="20" name="oldpassword" value=""></td>
    </tr>
    <tr>
      <td class="windowlight" align="right">Nova Senha:</td>
      <td><input type="password" size="20" name="newpassword" value=""></td>
    </tr>
    <tr>
      <td class="windowlight" align="right">Confirme Nova Senha:</td>
      <td><input type="password" size="20" name="confirmnewpassword" value=""></td>
    </tr>
    <tr>
      <td class="windowlight" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="windowlight" colspan="2">
        <table cellpadding="8" cellspacing="0" border="0" align="center">
        <tr>
          <td class="windowlight" align="center">
            <input type="submit" name="passwordformsubmit" value="Alterar Senha" onclick="return changecheck();">
            </form>
          </td>
          <td class="windowlight" align="center">
            <form method="post" action="<tmpl_var url_cgi>/openwebmail-prefs.pl" name="cancelform">
            <input type="hidden" name="action" value="editprefs">
            <tmpl_loop standardparamsloop>
            <input type="hidden" name="<tmpl_var name>" value="<tmpl_var value escape="html">">
            </tmpl_loop>
            <input type="submit" name="cancelformsubmit" value="Cancelar">
            </form>
          </td>
        </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="windowlight" colspan="2">&nbsp;</td>
    </tr>
    </table>
  </td>
</tr>
</table>

<script type="text/javascript">
<!--
   document.passwordform.oldpassword.focus()

   function changecheck() {
      var s = document.passwordform.newpassword.value;
      if (s.length < <tmpl_var passwd_minlen>) {
         alert("A senha deve ter pelo menos <tmpl_var passwd_minlen> caracteres.");
         return false;
      }
      if (document.passwordform.newpassword.value != document.passwordform.confirmnewpassword.value) {
         alert("Confirmação de nova senha incorreta.");
         return false;
      }
      if (document.passwordform.newpassword.value == document.passwordform.oldpassword.value) {
         alert("Nova senha é a mesma que a atual.");
         return false;
      }
      return true;
   }
//-->
</script>

<tmpl_var footer_template>
