<BR><BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="40%" cellpadding="1" cellspacing="1">
@@@STARTSAVEDFORM@@@
<tr><td bgcolor=@@@TITLEBAR@@@>
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>個人偏好設定儲存</B></font>
</td></tr><tr><td align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<BR>個人偏好設定已經儲存好了<BR>&nbsp;<BR>
@@@CONTINUEBUTTON@@@
<BR>&nbsp;
</td></tr>
@@@ENDFORM@@@
</table>
