<p align="center"><br><a href="http://www.openwebmail.org" target="_blank"><tmpl_var programname></a> version <tmpl_var programversion>&nbsp;&nbsp;<a accesskey="H" href="<tmpl_var url_help>" target="_help">Help?</a><br></p>

</body>
</html>
