<HTML>
<HEAD>
<TITLE>Open WebMail @@@VERSION@@@</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=@@@CHARSET@@@">
</HEAD><BODY BACKGROUND="@@@BG_URL@@@" BGCOLOR=@@@BACKGROUND@@@>
<style type="text/css">
@@@CSS@@@
</style>
<FONT FACE=@@@FONTFACE@@@>

