@@@STARTPREFSFORM@@@
<table border="0" align="center" width="90%" cellpadding="1" cellspacing="0" bgcolor=@@@BACKGROUND@@@>
<tr>
<td nowrap bgcolor=@@@TITLEBAR@@@ width="30%">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>สÝึํแวส วแใำสฮฯใ</B></font>
<td nowrap bgcolor=@@@TITLEBAR@@@ align="center">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>@@@QUOTAUSAGE@@@</B></font>
<td nowrap bgcolor=@@@TITLEBAR@@@ align="left" width="30%">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>@@@REALNAME@@@&nbsp;</B></font>
</tr>
<tr><td colspan="3" bgcolor=@@@MENUBAR@@@>
@@@MENUBARLINKS@@@
</td></tr>
</table>
&nbsp;
<table border="0" align="center" width="90%" cellpadding="1" cellspacing="1" bgcolor=@@@BACKGROUND@@@>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>วแใฺแๆใวส วแิฮีํษ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@ @@@DESCWIDTH@@@>
<B>วแแÛษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@LANGUAGEMENU@@@&nbsp;วแสัใํา @@@CHARSETMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแใไุÞษ วแาใไํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@TIMEOFFSETMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสๆÞํส วแีํÝํ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DAYLIGHTSAVINGMENU@@@
</td></tr>
@@@WEBMAILSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใไ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FROMEMAILMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแัฯ ลแ์:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPLYTOFIELD@@@
</td></tr>
@@@FORWARDSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใัั วแศัํฯ ลแ์:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FORWARDADDRESS@@@
&nbsp;
@@@KEEPLOCALCOPY@@@
ลอสÝู ศไำฮษ ใอแํษ
</td></tr>
@@@FORWARDEND@@@
@@@AUTOREPLYSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลฬวศษ สแÞวฦํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@AUTOREPLYCHECKBOX@@@
&nbsp;
วแใๆึๆฺ:
@@@AUTOREPLYSUBJECT@@@
</td></tr>
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@ class=msgbody>
<B>ไี วแวฬวศษ วแสแÞวฦํษ (500 อัÝ รๆ รÞแ)</B><BR>
@@@AUTOREPLYTEXT@@@
</td></tr>
@@@AUTOREPLYEND@@@
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@ class=msgbody>
<B>วแสๆÞํฺ (500 อัÝ รๆ รÞแ)</B><BR>
@@@SIGAREA@@@
<br>&nbsp;
</td></tr>
@@@WEBMAILEND@@@

@@@FULLPREFSSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>สÝึํแวส วแฺัึ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแวำแๆศ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@STYLEMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใฬใๆฺษ วแรํÞๆไวส:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ICONSETMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ีๆัษ วแฮแÝํ๘ษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
<table border="0" width="100%"><tr>
<td width="10%">@@@BACKGROUNDMENU@@@</td>
<td><div id="urldiv" style="position:relative; visibility:visible;" width="100%" height="100%">
<font size=-2>URL </font>@@@BGURLFIELD@@@</div></td>
</tr></table>
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ีๆัษ วแฮแÝํ๘ษ ใ฿ััษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BGREPEATCHECKBOX@@@<br>
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใÞวำ วแฮุ๘:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FONTSIZEMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ิ฿แ วแส๘วัํฮ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DATEFORMATMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ิ฿แ วแำวฺษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HOURFORMATMENU@@@ ำวฺษ
</td></tr>

@@@WEBMAILSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Þวฦใษ วแัำวฦแ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใๆÞฺ ิัํุ วแสอ฿ใ Ýํ Þวฦใษ วแัำวฦแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CTRLPOSITIONFOLDERVIEWMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺฯฯ วแฺไวีั แ฿แ๘ ีÝอษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HEADERSPERPAGE@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>สัสํศ วแอÞๆแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FIELDORDERMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสัสํศ วแวÝสัวึํ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SORTMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลฺัึ รํÞๆไษ ศอห ใีÛัษ@@@MINISEARCHICON@@@:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USEMINISEARCHICONCHECKBOX@@@<br>
</td></tr>

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>วแฺใแํวส ฺแ์ วแัำวฦแ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสร฿ํฯ Þศแ ไÞแ/ไำฮ วแัำวฦแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMMSGMOVECOPY@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแๆฬๅษ วแวÝสัวึํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DEFAULTDESTINATIONMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแๆฬๅษ วแะ๘฿ํ๘ษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SMARTDESTINATION@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺัึ วแัำวแษ วแสวแํษ ศฺฯ วแไÞแ/วแไำฮ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIEWNEXTAFTERMSGMOVECOPY@@@
</td></tr>
@@@AUTOPOP3START@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วำสแวใ สแÞวฦํ แศัํฯ POP3 ฺไฯ สำฬํแ วแฯฮๆแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@AUTOPOP3CHECKBOX@@@ (วไสึั @@@AUTOPOP3WAITMENU@@@ หวไํษ/หๆวไํ)
</td></tr>
@@@AUTOPOP3END@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ๆึฺ Ýแสั วแศัํฯ Ýํ วแฮแÝํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BGFILTERTHRESHOLDMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ๆÞส ลไสูวั Ýแสั วแศัํฯ Ýํ วแฮแÝํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BGFILTERWAITMENU@@@ หวไํษ/หๆวไํ
</td></tr>
@@@MOVEOLDSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ไÞแ วแัำวฦแ วแÞฯํใษ วแ์ วแใอÝๆูวส ฺไฯ สำฬํแ วแฮัๆฬ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MOVEOLDMSGFROMINBOX@@@
</td></tr>
@@@MOVEOLDEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ฮํวัวส Þัวมษ วแั๘ำวฦแ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใๆÞฺ ิัํุ วแสอ฿ใ ฺไฯ Þัวมษ วแัำวแษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CTRLPOSITIONMSGREADMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ัฤๆำ วแัำวฦแ วแวÝสัวึํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HEADERSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Read with message charset:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@READWITHMSGCHARSET@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลำสฮฯวใ ฮุ ใสำวๆํ วแฺัึ ฺไฯ Þัวมษ วแัำวฦแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USEFIXEDFONT@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺัึ วแัใๆา (วแัำๆใวส) ฺไฯ ฺัึ วแัำวฦแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USESMILEICON@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺัึ ัำวฦแ  HTML ฿ไีๆี:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWHTMLASTEXT@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺัึ วแีๆั วแใแอÞษ ฿วัสศวุ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWIMGASLINK@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>สฺุํแ JavaScript ฯวฮแ วแัำวฦแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DISABLEJS@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>สฺุํแ embed/object/applet tag ฯวฮแ วแัำวฦแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DISABLEEMBCODE@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>สฺุํแ embedded links ฯวฮแ วแัำวฦแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DISABLEEMBLINKMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลัำวแ วํีวแ 'สร฿ํฯ วแÞัวมษ':</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDRECEIPTMENU@@@
</td></tr>

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ฮํวัวส วแลฬวศษ ฺแ์ วแัำวฦแ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>สไำํÞ วแัำวแษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MSGFORMATMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใำวอษ ใไุÞษ สอัํั วแศัํฯ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
วแฺัึ @@@EDITCOLUMNSMENU@@@ วแวัสÝวฺ @@@EDITROWSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใๆÞฺ าั วแวัำวแ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDBUTTONPOSITIONMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลฺวฯษ สไำํÞ วแัำวแษ Þศแ วแลฬวศษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPARAGRAPHORIGMSG@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแลฬวศษ ใฺ วแัำวแษ วแวีแํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPLYWITHORIGMSGMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Automatic CC:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@AUTOCCFIELD@@@
</td></tr>
@@@BACKUPSENTSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลอÝู ไำฮษ ใไ วแัำวฦแ วแีวฯัษ Ýํ ใฬแฯ วแศัํฯ วแีวฯั:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BACKUPSENTMSG@@@
</td></tr>
@@@BACKUPSENTEND@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>สัใํา วแัำวฦแ วแีวฯัษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDCHARSETMENU@@@
</td></tr>

@@@VIRUSCHECKSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Ýอี วแÝํัๆำ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแัำวฦแ วแสํ สÝอี:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIRUSCHECKSOURCEMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแอฯ วแรฺแ์ แอฬใ วแัำวฦแ วแสํ สÝอี:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIRUSCHECKMAXSIZEMENU@@@ ฿ํแๆ ศวํส
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแอฯ วแรฯไ์ แอฬใ ฬำใ วแัำวฦแ วแสํ สÝอี:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIRUSCHECKMINBODYSIZEMENU@@@ ฿ํแๆ ศวํส
</td></tr>
@@@VIRUSCHECKEND@@@

@@@SPAMCHECKSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Spam Check</B> &nbsp; @@@SAPREFSLINK@@@</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Messages to be checked:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SPAMCHECKSOURCEMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Maximum size of the checked messages:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SPAMCHECKMAXSIZEMENU@@@ KB
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Threshold to determine Spam:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SPAMCHECKTHRESHOLDMENU@@@
</td></tr>
@@@SPAMCHECKEND@@@

@@@FILTERSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ฮํวัวส Ýแสัษ วแัำวฦแ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>อฯ๘ฯ วแั๘ำวฦแ วแใ฿ั๘ัษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERREPEATLIMIT@@@ &nbsp;( 0 สฺไํ ฺฯใ Ýอี ส฿ัวั วแัำวฦแ )
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Filter msgs with email address in bad format:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERBADADDRFORMAT@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ýแสัษ วแัำวฦแ วแสํ สอสๆํ ฺแ์ SMTP ใาๆั:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDSMTP@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ýแสัษ วแัำวฦแ วแสํ สอสๆํ ฺแ์ อÞแ ใัำแ ใาๆั:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDFROM@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ýแสัษ วแัำวฦแ วแสํ สอสๆํ ฺแ์ exe content-type ใาๆั:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDEXECONTENTTYPE@@@
</td></tr>
@@@FILTEREND@@@
@@@WEBMAILEND@@@

@@@WEBADDRSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ฮํวัวส ฯÝสั วแฺไวๆํไ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใÞวำ ไวÝะษ ฯÝสั วแฺไวๆํไ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
วแฺัึ @@@ABOOKWIDTHMENU@@@ วแลัสÝวฺ@@@ABOOKHEIGHTMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใๆÞฺ าั ฯÝสั วแฺไวๆํไ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKBUTTONPOSITIONMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแÝแสั  วแลÝสัวึํ แฯÝสั วแฺไวๆํไ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKDEFAULTFILTER@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺฯฯ วแฺไวๆํไ วแใฺัๆึษ แ฿แ ีÝอษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKADDRSPERPAGE@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Display only one line per contact:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKADDRCOLLAPSE@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสัสํศ วแลÝสัวึํ แฯÝสั วแฺไวๆํไ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKADDRSORTORDER@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Listview field order:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@ nowrap>
@@@ABOOKLISTVIEWFIELDORDERMENU@@@
</td></tr>
@@@WEBADDREND@@@

@@@CALENDARSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ฮํวัวส วแสÞๆํใ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแฺัึ วแลÝสัวึํ แแสÞๆํใ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DEFAULTVIEWMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>สฺัํÝ วแวฺํวฯ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HOLIDAYDEFMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺฯฯ วแฺไวีั Ýํ ฺัึ วแิๅั:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MONTHVIEWNUMITEMSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ศฯวํษ วแวำศๆฺ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@WEEKSTARTMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ำวฺษ วแศฯวํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@STARTHOURMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ำวฺษ วแไๅวํษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ENDHOURMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแÝสัษ Ýํ ฺัึ วแํๆใ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@INTERVALMENU@@@ ฯÞํÞษ (ฯÞวฦÞ)
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลูๅวั วแำวฺวส วแÝวัÛษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWEMPTYHOURSCHECKBOX@@@
</td></tr>
@@@REMINDERSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺฯฯ รํวใ Ýอี วแสะ฿ํั ศวแอฯห:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REMINDERDAYSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสะ฿ํั ศวแวอฯวห วแฺวใษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REMINDERFORGLOBALCHECKBOX@@@
</td></tr>
@@@REMINDEREND@@@
@@@CALENDAREND@@@

@@@WEBDISKSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>ฮํวัวส วแๆํศ-ฯำ฿</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺฯฯ วแฺไวีั Ýํ Þวฦใษ ฺัึ วแใฬแฯ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DIRNUMITEMSMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสร฿ํฯ Þศแ ไำฮ/ไÞแ วแใแÝวส รๆ วแใฬแฯวส:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILEMOVECOPY@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสร฿ํฯ Þศแ อะÝ วแใแÝวส รๆ วแใฬแฯวส:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILEDEL@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสร฿ํฯ Þศแ ึÛุ วแใแÝวส รๆ วแใฬแฯวส:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILECOMPRESS@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ใำวอษ ลุวั สอัํั วแใแÝวส:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
วแฺัึ @@@FILEEDITCOLUMNSMENU@@@ วแลัสÝวฺ @@@FILEEDITROWSMENU@@@
</td></tr>
@@@WEBDISKEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>วแฮํวัวส วแใสไๆ๘ฺษ</B></td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแสัใํา วแลÝสัวึํ แไูวใ วแใแÝวส:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FSCHARSETMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลำสฮฯใ ิัํุ วแลึวฦษ แแสอฯํฯ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USELIGHTBARCHECKBOX@@@
</td></tr>
@@@WEBMAILSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วำสฮฯวใ Regex  Ýํ Þๆวฺฯ วแศอห ๆวแÝแสัษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REGEXMATCH@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ลฮÝวม ศํวไวส วแใฬแฯ วแฯวฮแํ๘ษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HIDEINTERNAL@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Þวฦใษ ใฬแฯวส ใีไÝ๘ษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CATEGORIZEDFOLDERS@@@ &nbsp;( วแÝวีแ ศํไ วแีไÝ ๆ วแใฬแฯ @@@CATEGORIZEDFOLDERS_FS@@@ )
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ีๆส วแลฮุวั แแศัํฯ วแฬฯํฯ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@NEWMAILSOUNDMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ไวÝะษ วแลฮุวั แแศัํฯ วแฬฯํฯ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
ฺฯฯ หๆวไํ วแูๅๆั  @@@NEWMAILWINDOWTIMEMENU@@@  &nbsp;( 0 สฺไํ ฺฯใ ลูๅวั วแไวÝะษ )
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ไวÝะษ วแลฮุวั ฺไฯ วัำวแ วแศัํฯ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
ฺฯฯ หๆวไํ วแูๅๆั  @@@MAILSENTWINDOWTIMEMENU@@@  &nbsp;( 0 สฺไํ ฺฯใ ลูๅวั วแไวÝะษ )
</td></tr>
@@@SPELLCHECKSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>วแÞวใๆำ แสฯÞํÞ วแลใแวม:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DICTIONARYMENU@@@
</td></tr>
@@@SPELLCHECKEND@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>ฺฯฯ รํวใ วแลอสÝวู ศวแัำวฦแ Ýํ ำแษ วแใๅใแวส:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@TRASHRESERVEDDAYSMENU@@@
</td></tr>
@@@SPAMVIRUSSTART@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Spam/Virus mail reserved day(s):</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SPAMVIRUSRESERVEDDAYSMENU@@@
</td></tr>
@@@SPAMVIRUSEND@@@
@@@WEBMAILEND@@@
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ýสัษ วแสอฯํห:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REFRESHINTERVALMENU@@@
</td></tr>
<tr><td align="left" bgcolor=@@@WINDOW_DARK@@@>
<B>Ýสัษ ลไสๅวม วแฬแำษ:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SESSIONTIMEOUTMENU@@@
</td></tr>
@@@FULLPREFSEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@>
<table><tr>
<td>@@@SAVEBUTTON@@@</td>
@@@ENDFORM@@@

@@@FULLPREFSSTART@@@
@@@STARTCANCELFORM@@@
<td>@@@CANCELBUTTON@@@</td>
@@@ENDFORM@@@
@@@FULLPREFSEND@@@

</tr></table></td></tr></table>

<script language="JavaScript">
<!--
   function seturldivvisibility()
   {
      var div=document.getElementById('urldiv');
      if (document.prefsform.background.value=='USERDEFINE') {
         div.style.visibility='visible';
      } else {
	 div.style.visibility='hidden';
      }
   }
	
   function playsound(url, soundname) 
   {
      if (soundname != "NONE" ) {
         window.open(url+soundname);
      } 
   }

   seturldivvisibility()

//-->
</script>
