<tmpl_var header_template escape="none">

<form action="<tmpl_var url_cgi escape="none">/openwebmail-spell.pl" method="post" name="editpdictform" id="editpdictform">
<input type="hidden" name="editpdict" value="yes">
<input type="hidden" name="sessionid" value="<tmpl_var sessionid escape="html">">
<input type="hidden" name="dictionary" value="<tmpl_var dictionary escape="html">">

<table cellpadding="0" cellspacing="0" border="0" align="center" width="95%">
<tr>
  <td colspan="2" class="titlebar">gettext('Edit Personal Dictionary')</td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr>
  <td class="columnheader" width="85%">gettext('Dictionary Word')</td>
  <td class="columnheader" align="center">gettext('Action')</td>
</tr>
<tmpl_if pdictloop>
<tmpl_loop pdictloop>
<tr>
  <td class="<tmpl_if is_odd>rowlight<tmpl_else>rowdark</tmpl_if>"><tmpl_var word escape="html"></td>
  <td class="<tmpl_if is_odd>rowlight<tmpl_else>rowdark</tmpl_if>" align="center"><input type="button" name="dictword2delete" value="gettext('delete')" onclick="window.location.href='<tmpl_var url_cgi escape="none">/openwebmail-spell.pl?editpdict=yes&amp;dictword2delete=<tmpl_var word escape="url">&amp;sessionid=<tmpl_var sessionid escape="url">';"></td>
</tr>
</tmpl_loop>
<tmpl_else>
<tr>
  <td colspan="2" class="rowlight" align="center">gettext('There are no words in your personal dictionary')</td>
</tr>
</tmpl_if>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center" colspan="2"><input type="button" name="close" value="gettext('close')" onclick="window.close();"></td>
</tr>
</table>

</form>

<tmpl_var footer_template escape="none">
