<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

 שלום @@@USEREMAIL@@@,<br><br>
לא ביצעת פעילות כלשהי במערכת בפרק זמן ארוך.
במידה ולא תבצע פעילות כלשהי בדקה הקרובה תנותק מהמערכת.


</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value="אישור" onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>
