<BR><BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="250" cellpadding="0" cellspacing="0">
<tr><td bgcolor=@@@TITLEBAR@@@>
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>INLOGGINGSTIDEN HAR GÅTT UT</B></FONT></TD></TR>
<tr><td align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<BR>Beklagar, din inloggningstiden har gått ut på grund av inaktivitet. Gå tillbaka och
<a href="@@@STARTURL@@@">logga in</a>på nytt.<BR><BR>
</td></tr></table>
