<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

Kära @@@USEREMAIL@@@,<br><br>
Du har nu varit inaktiv i en lång stund.
Om inget händer snart kommer
den här sessionen att kopplas ner inom 60 sekunder.

</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value=" ok " onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>
