@@@STARTPREFSFORM@@@
<table border="0" align="center" width="90%" cellpadding="1" cellspacing="0" bgcolor=@@@BACKGROUND@@@>
<tr>
<td nowrap bgcolor=@@@TITLEBAR@@@ width="30%">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>CONFIGURARE PREFERINTE</B></font>
<td nowrap bgcolor=@@@TITLEBAR@@@ align="center">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>@@@QUOTAUSAGE@@@</B></font>
<td nowrap bgcolor=@@@TITLEBAR@@@ align="right" width="30%">
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>@@@REALNAME@@@&nbsp;</B></font>
</tr>
<tr><td colspan="3" bgcolor=@@@MENUBAR@@@>
@@@MENUBARLINKS@@@
</td></tr>
</table>
&nbsp;
<table border="0" align="center" width="90%" cellpadding="1" cellspacing="1" bgcolor=@@@BACKGROUND@@@>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Informatii personale</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Limba:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@LANGUAGEMENU@@@&nbsp;Set caractere @@@CHARSETMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Zona de fus orar:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@TIMEOFFSETMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Orar de vara/iarna:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DAYLIGHTSAVINGMENU@@@
</td></tr>
@@@WEBMAILSTART@@@
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>De la:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FROMEMAILMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Raspuns pe adresa:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPLYTOFIELD@@@
</td></tr>
@@@FORWARDSTART@@@
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Trimite mesaje mai departe la:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FORWARDADDRESS@@@
&nbsp;
@@@KEEPLOCALCOPY@@@
Lasa o copie pe server
</td></tr>
@@@FORWARDEND@@@
@@@AUTOREPLYSTART@@@
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Raspuns automat:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@AUTOREPLYCHECKBOX@@@
&nbsp;
Subiect:
@@@AUTOREPLYSUBJECT@@@
</td></tr>
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@ class=msgbody>
<B>Text raspuns automat (maxim 500 caractere)</B><BR>
@@@AUTOREPLYTEXT@@@
</td></tr>
@@@AUTOREPLYEND@@@
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@ class=msgbody>
<B>Semnatura (maxim 500 caractere)</B><BR>
@@@SIGAREA@@@
<br>&nbsp;
</td></tr>
@@@WEBMAILEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Preferinte la afisare</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Stil culori:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@STYLEMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Set icoane:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ICONSETMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Imagine fundal:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@ nowrap>
@@@BACKGROUNDMENU@@@ <font size=-2>URL </font>@@@BGURLFIELD@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Imaginea de fundal se repeta:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BGREPEATCHECKBOX@@@<br>
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Marime font:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FONTSIZEMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Format data:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DATEFORMATMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Format ora:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HOURFORMATMENU@@@ ora
</td></tr>

@@@WEBMAILSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Navigare directoare</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Pozitia bara de control in afisare directoare:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CTRLPOSITIONFOLDERVIEWMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Numar mesaje pe pagina:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HEADERSPERPAGE@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Ordinea campurilor:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FIELDORDERMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Ordonare implicita:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SORTMENU@@@
</td></tr>

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Operatii cu mesaje</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Confirmare la copiere/stergere:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMMSGMOVECOPY@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Destinatie implicita:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DEFAULTDESTINATIONMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Destination inteligenta:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SMARTDESTINATION@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Arata urmatorul mesaj dupa copiere/stergere:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@VIEWNEXTAFTERMSGMOVECOPY@@@
</td></tr>
@@@AUTOPOP3START@@@
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Descarca automat POP3 la autentificare:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@AUTOPOP3CHECKBOX@@@ (wait @@@AUTOPOP3WAITMENU@@@ seconds)
</td></tr>
@@@AUTOPOP3END@@@
@@@MOVEOLDSTART@@@
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>muta mesaje vechi in SAVED la iesire:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MOVEOLDMSGFROMINBOX@@@
</td></tr>
@@@MOVEOLDEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Optiuni citire mesaje</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Pozitie bara control la citire mesaje:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CTRLPOSITIONMSGREADMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Antet implicit:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HEADERSMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Folosire font de marime fixa la citire mesaje:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USEFIXEDFONT@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Folosesire smiles-uri:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@USESMILEICON@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Dezactivare JavaScript in mesaje:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DISABLEJS@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Dezactivare CGI incapsulat:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DISABLEEMBCGI@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Show HTML message as plain text:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWHTMLASTEXT@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Arata atasamente cu imagini ca scurtaturi:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWIMGASLINK@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Trimite 'confirmare de citire':</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDRECEIPTMENU@@@
</td></tr>

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Optiuni raspuns mesaje</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Format mesaje:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MSGFORMATMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Dimensiune arie de redactare:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
Latime @@@EDITCOLUMNSMENU@@@ Inaltime @@@EDITROWSMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Pozitie button redactare:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDBUTTONPOSITIONMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Reparagrafare mesaj inaintea raspunsului:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPARAGRAPHORIGMSG@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Raspundere cu mesajul original:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REPLYWITHORIGMSGMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Salvare mesaj trimis in TRIMISE:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@BACKUPSENTMSG@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Set caractere pentru mesajul trimis:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SENDCHARSETMENU@@@
</td></tr>

@@@FILTERSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Options filtrare mesaje</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Limita pentru mesaje repetate:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERREPEATLIMIT@@@ &nbsp;( 0 inseamna Nu se verifica )
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Filter messages with bad From email format:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERBADFORMATFROM@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Filtrare mesaje cu SMTP fals:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDSMTP@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Filtrare mesaje cu campul From fals:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDFROM@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Filtrare mesaje cu continut exe fals:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@FILTERFAKEDEXECONTENTTYPE@@@
</td></tr>
@@@FILTEREND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Optiuni Agenda</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Marime fereastra agenda:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
Latime @@@ABOOKWIDTHMENU@@@ Inaltime @@@ABOOKHEIGHTMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Pozitie buton agenda:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKBUTTONPOSITIONMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Filtru agenda implicit:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ABOOKDEFAULTFILTER@@@
</td></tr>
@@@WEBMAILEND@@@

@@@CALENDARSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Optiuni Calendar</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Default calendar view:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DEFAULTVIEWMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Definire vacante:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HOLIDAYDEFMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Numar de evenimente in afisare luna:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@MONTHVIEWNUMITEMSMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Saptamana incepe:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@WEEKSTARTMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Ora inceput:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@STARTHOURMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Oura sfarsit:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@ENDHOURMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Interval de timp in afisare zi:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@INTERVALMENU@@@ minute
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Arata ore goale:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SHOWEMPTYHOURSCHECKBOX@@@
</td></tr>
@@@REMINDERSTART@@@
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Verificare evenimente la:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REMINDERDAYSMENU@@@ <b>zile.</b>
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Notificare pentru evenimente din calendarul global:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REMINDERFORGLOBALCHECKBOX@@@
</td></tr>
@@@REMINDEREND@@@
@@@CALENDAREND@@@

@@@WEBDISKSTART@@@
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Optiuni WebDisk</B></td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Numar de elemente in lista de directoare:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DIRNUMITEMSMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Confirmare la mutare/copiere director/fisier:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILEMOVECOPY@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Confirmare la stergere director/fisier:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILEDEL@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Confirmare la arhivare director/fisier:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@CONFIRMFILECOMPRESS@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Marime fereastra editare:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
Latime @@@FILEEDITCOLUMNSMENU@@@ Inaltime @@@FILEEDITROWSMENU@@@
</td></tr>
@@@WEBDISKEND@@@

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" bgcolor=@@@COLUMNHEADER@@@><B>Alte Optiuni</B></td></tr>
@@@WEBMAILSTART@@@
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Foloseste Regex in cautare si reguli de filtrare:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REGEXMATCH@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Ascunde data directorului:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@HIDEINTERNAL@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Notificare sonora la mesaje noi:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@NEWMAILSOUNDMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Fereastra de notificare la mesaje noi:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
ramase @@@NEWMAILWINDOWTIMEMENU@@@ secunde &nbsp;(0 inseamna - nici o notificare)
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Mail sent window notification:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
ramase @@@MAILSENTWINDOWTIMEMENU@@@ secunde &nbsp;(0 inseamna - nici o notificare)
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Dictionar pentru corector gramatical:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@DICTIONARYMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Golire mesaje din STERSE la</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@RESERVEDDAYSMENU@@@ zile.
</td></tr>
@@@WEBMAILEND@@@
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Interval de reimprospatare:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@REFRESHINTERVALMENU@@@
</td></tr>
<tr><td align="right" bgcolor=@@@WINDOW_DARK@@@>
<B>Expirare sesiune:</B>
</td><td bgcolor=@@@WINDOW_DARK@@@>
@@@SESSIONTIMEOUTMENU@@@
</td></tr>

<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" align="center" bgcolor=@@@WINDOW_DARK@@@>
<table><tr>
<td>@@@SAVEBUTTON@@@</td>
@@@ENDFORM@@@
@@@STARTCANCELFORM@@@
<td>@@@CANCELBUTTON@@@</td>
@@@ENDFORM@@@
</tr></table></td></tr></table>

<script language="JavaScript">
<!--
   function playsound(url, soundname) 
   {
      if (soundname != "NONE" ) {
         window.open(url+soundname);
      } 
   }
//-->
</script>
