<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

Beste @@@USEREMAIL@@@,<br><br>
U heeft @@@NAME@@@ enige tijd niet gebruikt.
Als u nu niets doet,
zal deze sessie over 60 seconden worden beëindigd.

</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value=" ok " onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>