<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td colspan="2"><b>@@@NAMELABEL@@@</b></td>
    </tr>
    <tr>
      <td>@@@GROUP@@@</td>
      <td>@@@VALUE@@@</td>
    </tr>
    <tr>
      <td class="smalltext">@@@GROUPLABEL@@@</td>
      <td class="smalltext">@@@VALUELABEL@@@</td>
    </tr>
    <tr>
      <td colspan="2" class="smalltext">@@@TYPES@@@&nbsp;</td>
    </tr>
    </table>
  <td>
<tr>
