<html>

<head>
   <title>Redirecting to SSL Login...</title>
   <meta http-equiv="refresh" content="5;url="<tmpl_var start_url escape="html">">

   <script type="text/javascript">
   <!--
      setTimeout("window.location.href='<tmpl_var start_url escape="html">'", 6000);
   //-->
   </script>
</head>

<body>

<br><br>
<p align="center">Service is available over SSL only.<br>
You will be redirected to the <a href="<tmpl_var start_url escape="html">">SSL login</a> page in 5 seconds...</p>

</body>
</html>
