<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<tmpl_var charset>">
  <title><tmpl_var titleinfo></title>
  <link rel="shortcut icon" href="<tmpl_var url_ico>">

  <tmpl_var stylesheet>
</head>

<!-- <tmpl_var diagnostics> -->

<body onhelp="window.open('<tmpl_var url_help>', '_help'); return false;">
