<tmpl_var header_template>

<table cellpadding="0" cellspacing="0" border="0" width="90%" align="center">
<tr>
  <td class="titlebar">About</td>
</tr>
<tr>
  <td class="menubar">
    <a href="<tmpl_var url_cgi>/openwebmail-prefs.pl?action=editprefs&amp;<tmpl_loop standardparamsloop><tmpl_if value>&amp;<tmpl_var name>=<tmpl_var value escape="url"></tmpl_if></tmpl_loop>" accesskey="F" class="icon"><tmpl_if use_texticon>back to preferences<tmpl_else><img src="<tmpl_var url_html>/images/iconsets/<tmpl_var iconset escape="html">/backtofolder.gif" title="back to preferences" alt="back to preferences" border="0" align="absmiddle"></tmpl_if></a>
  </td>
</tr>
</table>

&nbsp;

<table cellpadding="1" cellspacing="1" border="0" width="90%" align="center">

<tmpl_if show_softwareinfo>
<tr>
  <td colspan="2" class="columnheader">SOFTWARE</td>
</tr>
<tr>
  <td class="windowdark">OS</td>
  <td class="windowdark"><tmpl_var operatingsystem escape="html"></td>
</tr>
<tr>
  <td class="windowdark">Perl</td>
  <td class="windowdark"><tmpl_var perl_executable escape="html"> <tmpl_var perl_version escape="html"></td>
</tr>
<tr>
  <td class="windowdark">WebMail</td>
  <td class="windowdark"><tmpl_var programname> <tmpl_var programversion>.<tmpl_var programrevision> <tmpl_var programreleasedate><tmpl_if is_persistence> (<tmpl_else><tmpl_if is_httpcompression> (</tmpl_if></tmpl_if><tmpl_if is_persistence>Persistence,</tmpl_if><tmpl_if is_httpcompression>HTTP Compression</tmpl_if><tmpl_if is_persistence>)<tmpl_else><tmpl_if is_httpcompression>)</tmpl_if></tmpl_if></td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
</tmpl_if>

<tmpl_if show_protocolinfo>
<tr>
  <td colspan="2" class="columnheader">PROTOCOL</td>
</tr>
<tmpl_if server_protocol>
<tr>
  <td class="windowdark">SERVER PROTOCOL</td>
  <td class="windowdark"><tmpl_var server_protocol escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if http_connection>
<tr>
  <td class="windowdark">HTTP CONNECTION</td>
  <td class="windowdark"><tmpl_var http_connection escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if http_keep_alive>
<tr>
  <td class="windowdark">HTTP KEEP ALIVE</td>
  <td class="windowdark"><tmpl_var http_keep_alive escape="html"></td>
</tr>
</tmpl_if>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
</tmpl_if>

<tmpl_if show_serverinfo>
<tr>
  <td colspan="2" class="columnheader">SERVER</td>
</tr>
<tmpl_if http_host>
<tr>
  <td class="windowdark">HTTP HOST</td>
  <td class="windowdark"><tmpl_var http_host escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if script_name>
<tr>
  <td class="windowdark">SCRIPT NAME</td>
  <td class="windowdark"><tmpl_var script_name escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if show_scriptfilenameinfo>
<tmpl_if script_filename>
<tr>
  <td class="windowdark">SCRIPT FILENAME</td>
  <td class="windowdark"><tmpl_var script_filename escape="html"></td>
</tr>
</tmpl_if>
</tmpl_if>
<tmpl_if server_name>
<tr>
  <td class="windowdark">SERVER NAME</td>
  <td class="windowdark"><tmpl_var server_name escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if server_addr>
<tr>
  <td class="windowdark">SERVER ADDR</td>
  <td class="windowdark"><tmpl_var server_addr escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if server_port>
<tr>
  <td class="windowdark">SERVER PORT</td>
  <td class="windowdark"><tmpl_var server_port escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if server_software>
<tr>
  <td class="windowdark">SERVER SOFTWARE</td>
  <td class="windowdark"><tmpl_var server_software escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if show_sessioncount>
<tr>
  <td class="windowdark">ACTIVE SESSIONS</td>
  <td class="windowdark"><tmpl_var activelastminute>,<tmpl_var activelastfiveminute>,<tmpl_var activelastfifteenminute> (in last 1, 5, 10 minutes)</td>
</tr>
</tmpl_if>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
</tmpl_if>

<tmpl_if show_clientinfo>
<tr>
  <td colspan="2" class="columnheader">CLIENT</td>
</tr>
<tmpl_if remote_addr>
<tr>
  <td class="windowdark">REMOTE ADDR</td>
  <td class="windowdark"><tmpl_var remote_addr escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if remote_port>
<tr>
  <td class="windowdark">REMOTE PORT</td>
  <td class="windowdark"><tmpl_var remote_port escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if http_client_ip>
<tr>
  <td class="windowdark">HTTP CLIENT IP</td>
  <td class="windowdark"><tmpl_var http_client_ip escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if http_x_forwarded_for>
<tr>
  <td class="windowdark">HTTP X FORWARDED FOR</td>
  <td class="windowdark"><tmpl_var http_x_forwarded_for escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if http_via>
<tr>
  <td class="windowdark">HTTP VIA</td>
  <td class="windowdark"><tmpl_var http_via escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if http_user_agent>
<tr>
  <td class="windowdark">HTTP USER AGENT</td>
  <td class="windowdark"><tmpl_var http_user_agent escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if http_accept_encoding>
<tr>
  <td class="windowdark">HTTP ACCEPT ENCODING</td>
  <td class="windowdark"><tmpl_var http_accept_encoding escape="html"></td>
</tr>
</tmpl_if>
<tmpl_if http_accept_language>
<tr>
  <td class="windowdark">HTTP ACCEPT LANGUAGE</td>
  <td class="windowdark"><tmpl_var http_accept_language escape="html"></td>
</tr>
</tmpl_if>
</tmpl_if>

</table>

<tmpl_var footer_template>
