<tmpl_var header_template>

<tmpl_if caller_main>
<form method="post" action="<tmpl_var url_cgi>/openwebmail-main.pl" name="prefssavedform">
<input type="hidden" name="action" value="listmessages">
</tmpl_if>

<tmpl_if caller_calendar>
<form method="post" action="<tmpl_var url_cgi>/openwebmail-cal.pl" name="prefssavedform">
<input type="hidden" name="action" value="<tmpl_var calendardefaultview>">
</tmpl_if>

<tmpl_if caller_webdisk>
<form method="post" action="<tmpl_var url_cgi>/openwebmail-webdisk.pl" name="prefssavedform">
<input type="hidden" name="action" value="showdir">
</tmpl_if>

<tmpl_if caller_addrlistview>
<form method="post" action="<tmpl_var url_cgi>/openwebmail-abook.pl" name="prefssavedform">
<input type="hidden" name="action" value="addrlistview">
</tmpl_if>

<tmpl_if caller_read>
<form method="post" action="<tmpl_var url_cgi>/openwebmail-read.pl" name="prefssavedform">
<input type="hidden" name="action" value="readmessage">
</tmpl_if>

<tmpl_loop standardparamsloop>
<input type="hidden" name="<tmpl_var name>" value="<tmpl_var value escape="html">">
</tmpl_loop>

<br><br><br><br><br><br><br>

<table cellpadding="1" cellspacing="0" border="0" align="center" width="40%">
<tr>
  <td class="titlebar">Preferences Saved</td>
</tr>
<tr>
  <td class="windowlight" align="center"><br>Preferences successfully saved<br></td>
</tr>
<tr>
  <td class="windowlight" align="center"><br><input type="submit" name="continuebutton" value="Continue" accesskey="C"><br><br></td>
</tr>
</table>

</form>

<tmpl_var footer_template>
