<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

 @@@USEREMAIL@@@さん<br><br>
しばらくコンピュータをお使いでないようなので、
もしこれ以上お使いでないようなら、
このセッションはあと60秒で終了になります。

</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value=" OK " onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>
