<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

Po¹tovani @@@USEREMAIL@@@,<br><br>
Bili ste neaktivni dugo vremena. 
Ukoliko ne poduzmete vi¹e ni¹ta, 
ova sesija æe isteæi za 60 sekundi.

</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value=" ok " onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>
