<center>
<table width="90%" cellspacing="0" cellpadding="0" border="0">
<tr><td><font size="-1" color="#dd0000"><b>

亲爱的 @@@USEREMAIL@@@，<br><br>
您已经休息很久了，
如果没有其它后续操作，
这个 session 将会在60秒内结束。

</b></font></td></tr></table>
<br>
<form>
<input type="button" NAME="OK" value=" ok " onclick="window.close();"/>
</form>
<br><br>
<script language="JavaScript">
setTimeout("close()", 60*1000);
</script>
</center>
